[2016-08-23 18:00] vhpoet opened #1 "Direct Messaging"
Thanks for this awesomeness, the app looks and behaves great.

Couldn't miss the opportunity to open the first issue / feature request. It would be really great to be able to send and receive direct messages. A lot of Instagrammers/photographers use direct messages quite a lot.

Cheers from http://instagram.com/vhpoet

[2016-08-23 20:29] terkelg commented on #1
Thanks for the kind words.

I'll love to add features such as photo upload, stories and direct messaging.
However, I'm not sure Instagram allows that at the moment, since I have to reverse engineer the API.

I'm looking for a solution

[2016-08-23 22:08] vhpoet commented on #1
@terkelg yea I think the only way would be to use their private API.

[2016-08-23 22:26] hrbrt commented on #1
Don't forget: Instagram Kills Off Feed Reading Apps https://techcrunch.com/2015/11/17/just-instagram/

[2016-08-23 22:35] terkelg commented on #1
This won't effect Ramme, since I use their own website

[2016-08-24 00:29] appernetic opened #2 "Is it possible to post images?"

[2016-08-24 06:01] amitmerchant1990 commented on #2
No. I don't think so Instagram will ever allow this.

[2016-08-24 06:11] badcat commented on #2
It's listed on the Roadmap for version 2.0, no?

[2016-08-24 12:06] gingerbeardman commented on #2
@badcat it was added to the roadmap before people alerted the developer that there is no approved or official way to do it. Instagram actively close down any app that uses their private methods.

[2016-08-24 12:59] gingerbeardman opened #4 ""Open in app" should be hidden by default"
Obviously "Open in app" makes no sense on Desktop

![screen shot 2016-08-24 at 13 59 44](https://cloud.githubusercontent.com/assets/49612/17931366/0c8415e6-6a03-11e6-83c4-919a9c2ad0d5.png)

[2016-08-24 13:09] gingerbeardman opened #5 "Unable to do npm workflow"
[code]

Any ideas?

[2016-08-24 13:17] terkelg commented on #4
Thanks for reporting it. I'll look at look at it

[2016-08-24 13:21] terkelg commented on #2
@gingerbeardman and @amitmerchant1990 are right. I won't add this at the moment. Instagram won't allow me to hijack user sessions and use the private API.

[2016-08-24 13:25] terkelg commented on #5
Have you tried to to do a `npm cache clean` and delete node_modules folder and rerun `npm install`?

Which version of node are you using?

[2016-08-24 13:31] gingerbeardman commented on #5
npm@1.4.9

`sudo nam cache clean` did it

Thanks!

[2016-08-24 13:31] #5 closed

[2016-08-24 13:32] gingerbeardman commented on #4
I'll have a quick look myself now that nam is working.

[2016-08-24 13:33] terkelg commented on #4
It could be awesome. I appreciate your help. Thanks

[2016-08-24 13:34] #2 closed

[2016-08-24 13:35] #1 closed

[2016-08-24 13:38] gingerbeardman commented on #4
First I need to figure out how to access the web inspector...

[2016-08-24 13:39] terkelg commented on #4
`cmd+alt+i`

Then you can report the selector to me, or create a pull-request.

[2016-08-24 13:49] gingerbeardman commented on #4
[code]

`_h7ogh` is a strange rotating square.

will send pull request now

[2016-08-24 13:50] gingerbeardman commented on #4
https://github.com/terkelg/ramme/pull/6

[2016-08-24 13:50] #4 closed

[2016-08-24 21:31] njuart opened #7 "Notifications and auto refresh"
Hi, nice stuff! I've been using lots of similar apps, but this one looks promising, clean and sophisticated. Any chance of getting notifications and auto refresh on mac or elsewhere? Thx, keep it in the same spirit.

[2016-08-25 02:20] k13elle opened #8 "[Opps, an error occured] in Linux 16.04"
I just downloaded your project.
It gradually slow until it was not respond.
I closed and open it again.
It show like this.
![screenshot from 2016-08-25 09-19-17](https://cloud.githubusercontent.com/assets/9081217/17954417/1ea538de-6aa5-11e6-852b-e75614026a9b.png)

[2016-08-25 05:06] ninjaprawn commented on #8
This is nothing to do with Ramme. It is a server side error.

[2016-08-25 08:45] ekeskin opened #9 "Back button on Home screen"
Even if looks disabled you can click on the back button on homescreen and it makes you go to login page then redirects again to home screen.

[2016-08-25 08:48] terkelg commented on #9
Ah! Thanks for reporting it @ekeskin. Good catch ;)

[2016-08-25 08:49] terkelg commented on #8
Yes, it's indeed a server side error from Instagram

[2016-08-25 08:49] #8 closed

[2016-08-25 09:55] emilstahl opened #10 "Pull to refresh"
Pull to refresh would be nice.

[2016-08-25 15:37] mehmetakiftutuncu opened #11 "Keyboard Shortcuts"
If there were keyboard shortcuts for each tab (Cmd + 1 for home, Cmd + 2 for explore etc. on a Mac), it would have been awesome.

Thanks for a great app! :)

[2016-08-25 20:54] terkelg commented on #11
Thanks for the kind words!
Shortcuts are coming in the next release. Hope to release it within a week or so.

[2016-08-25 21:15] terkelg commented on #10
I'm currently looking for a solution to this.
How to implement it in version 3 👍

[2016-08-25 21:15] #10 closed

[2016-08-25 21:15] #11 closed

[2016-08-25 21:16] terkelg commented on #7
I'm looking for a solution to both refresh and notifications. Thanks for your suggestions!

[2016-08-26 01:14] carrabino opened #12 "sorry for dumb question ... how do i upload/post to my instagram account?"
thanks,
Anthony.

[2016-08-26 13:53] terkelg commented on #12
It's not possible at the moment. Instagram don't allow photo upload and the workaround isn't safe and can result in users being banned.

[2016-08-26 13:53] #12 closed

[2016-08-26 18:22] terkelg commented on #9
I can't reproduce this bug. Can you test again?

[2016-08-26 21:33] terkelg opened #14 "Auto Update"
Let users know about new releases.

[2016-08-26 21:37] terkelg opened #15 "Website"
Make a single page website for Ramme.

[2016-08-26 21:57] hrbrt opened #16 "HTTPS"
Are you sure you switched to https? It was trying to connect via http after 2.0 install.

[2016-08-26 22:17] terkelg commented on #16
I changed the link from http to https. [See line 65 in main.js](https://github.com/terkelg/ramme/blob/master/main.js#L65).

Thanks for checking and following up.

[2016-08-26 23:34] seven11nash opened #17 ""5xx Server Error" on profile link click"
I noticed that a "5xx Server Error" occurs when trying to open a link found on the profile of any user. The link that opens in the browser is also a different one than the one that comes when clicking the link on profiles on [Instagrams webapp](https://instagram.com/).

![screen shot 2016-08-27 at 01 26 11](https://cloud.githubusercontent.com/assets/5675238/18023145/b3be9004-6bf5-11e6-889f-9b0e6ea

[2016-08-26 23:37] seven11nash commented on #15
If you want I would be glad to help out with this, just let me know if you need help on it.

[2016-08-27 10:17] antonyrod opened #18 "Incorrect scrolling Instagram feed"
Steps:
1. Begin to scroll feed or the user profile.
2. Reach the bottom.

Actual result:
- Scrolling stops.
- Resize window.
- There are new posts, you can scroll further.
  http://i.imgur.com/Rkia1kv.gifv

Expected Result:
- Correct scrolling feed, without having to change the window size.

[code]

[2016-08-27 10:29] antonyrod opened #19 "The process continues to run after close the program"
Steps:
1. Close the program being authorized.

Actual result:
- In the Windows Task Manager still 3 of the same name of the process are running: Ramme.exe

Expected Result:
- After closing the program completed all the processes associated with it.
            -

            Ramme 2.0.0
            Electron 1.3.4
            win32 ia32 10.0.10240
ОС Microsoft Windows 10 Enterprise 64bit

[2016-08-27 11:26] terkelg commented on #19
I don't have access to a windows machine. It it possible that you can help out with this?

[2016-08-27 11:28] terkelg commented on #18
That's strange! I'll try to reproduce this and find a solution.

[2016-08-27 11:31] terkelg commented on #15
@seven11nash that could be awesome!
Send me an email and let's talk about the details

[2016-08-27 23:19] BoredMind commented on #19
This is happening for me as well.  Whatever help you need let me know and I'll help out.

[2016-08-28 03:59] vintagesucks commented on #19
Happening for me as well. I think the expected result after closing the window would be Ramme being minimized to the system tray, but instead it's just disappearing in the background as described by @antonyrod. The real issue here is the missing tray icon, I guess.

[code]

[2016-08-28 09:35] willrun4fun commented on #18
I am having the same problem.  Ubuntu 16.04 Unity.

[2016-08-28 15:06] matbonucci opened #22 "Grid view"
Hi, is there any possibility that we can browse the feed in grid view, not linear

[2016-08-28 16:49] terkelg commented on #22
It's possible. I might add this in the future 👍

[2016-08-28 16:52] terkelg commented on #17
Thanks for the kind words! I'm always up for building great stuff.

I can't reproduce this myself. Do you still have this issue? I think this is a bug from Instagram, and hard for me to fix. Please let me know if you can reproduce it.

[2016-08-28 16:55] seven11nash commented on #17
Nope, I can't, seems to be gone... I'm Marc btw, the guy working on the website 😅 , just working on it right now actually.

[2016-08-28 16:55] terkelg commented on #18
Thanks @antonyrod and @willrun4fun. Is it possible you're up for this bug?
I don't have the issue on macOS, and it could be super cool if you guys could help with this one.

[2016-08-28 16:58] terkelg commented on #17
Nice Marc! I'll close the issue.
I found a way for you to contribute to the gh-branche: http://stackoverflow.com/questions/9135913/merge-pull-request-to-a-different-branch-than-default-in-github

[2016-08-28 16:58] #17 closed

[2016-08-28 17:07] terkelg commented on #19
@BoredMind @antonyrod can you test the latest dev branch?
https://github.com/terkelg/ramme/tree/dev

I think I've found the bug 🎉

[2016-08-28 17:46] mckennajones commented on #18
Experiencing the same issue on Arch Linux with Gnome Desktop. I will look into it when I have some time

[2016-08-28 17:48] terkelg commented on #18
That's so cool, thanks man!
I love the open source community.

[2016-08-28 18:25] BoredMind commented on #19
@terkelg Do you have a Windows build from the dev branch?  I don't have a system setup with Electron to build it right now.

[2016-08-28 19:04] vintagesucks commented on #19
@terkelg The issue @antonyrod described is still present in the latest `dev` branch, but as I [said](#issuecomment-242954824), I think running in the background after closing the window this is not a bug but a **feature**. From the Ramme README:

When closing the window, the app will continue running in the background, in the dock on macOS and the tray on Linux/Windows. Right-click the dock/tray i

[2016-08-28 19:11] terkelg commented on #19
You're right‚ @vintagesucks. I agree. Let's add that tray menu!

[2016-08-28 21:16] vintagesucks commented on #19
@terkelg Refactored into tray.js, see PR #23. Please note that I could test/optimize the tray icon toggle functionality for Windows only, so feel free to change the behavior depending on the platform. The Windows tray works quite different compared to the OS X toolbar, I'd suspect.

[2016-08-28 21:17] #9 closed

[2016-08-28 21:17] #16 closed

[2016-08-29 07:39] yeskunall opened #25 "Can't toggle Dark Mode"
Hi @terkelg! First of all, I'd like to say that you've done a great job with the app! :grin:

Secondly, I can't seem to be able to toggle dark mode using said shortcut on my Windows machine. (`CTRL + D`)

Thanks for looking into the matter!

[2016-08-29 09:39] terkelg commented on #19
Should be fixed with commit 19bd1f7. Please test the latest master branch to confirm 👍

[2016-08-29 09:40] terkelg commented on #25
Thanks for reporting this issue.

@neighborhood999 can you look at this?

[2016-08-29 10:26] neighborhood999 commented on #25
@terkelg On my Linux and Windows use `CTRL + D` can change to dark mode.

[2016-08-29 10:35] neighborhood999 commented on #25
@terkelg sorry My bad, is **can't**..

[2016-08-29 10:38] terkelg commented on #25
Thanks for testing 👍

That's strange though. I'll look into it

[2016-08-29 11:38] terkelg commented on #25
Can you run and test the master after my 85ff6ff commit? Maybe this fixes the issue

[2016-08-29 12:27] neighborhood999 commented on #25
@terkelg it's not work. If I have more free time I will help this.

[2016-08-29 13:12] vintagesucks commented on #19
@terkelg This is fixed in the latest master branch. :+1:

[2016-08-29 13:14] #19 closed

[2016-08-29 13:15] terkelg commented on #25
Thanks!

[2016-08-29 16:21] neighborhood999 commented on #25
Fixed by #27

[2016-08-29 17:25] yeskunall commented on #25
@neighborhood999 you just redid what @terkelg undid with 85ff6ff4a94e95d51dff0da5b1878a50f53a7041.

[2016-08-29 17:28] #25 closed

[2016-08-29 22:23] artigxs opened #28 "I don't know how to install it on Ubuntu 16.04"
I'm a newbie, so I did what instructions says that I have to do. I unzipped the file somewhere but I can't execute Ramme. I'm looking for a solution thru blogs and stuff but I can't put my finger in the solution.

Please, help. I need a How to Install Ramme on Ubuntu for Dummies :smile: I really wanna try Ramme :cry:

[2016-08-30 14:29] terkelg commented on #28
Hi @artigxs
I don't have Ubuntu myself, but did you download the compiled Ramme from the "release" tab, or did you download the source itself?

[2016-08-30 22:28] yeskunall commented on #14
Hi @terkelg! Are you currently working on this feature or have you kept it on hold in favor of other more requested features?

[2016-08-30 22:32] terkelg commented on #14
Hi! I'm not working on this or any other features at the moment. I'm too busy with work

[2016-08-30 22:46] yeskunall commented on #14
Dropping this here, just in case anyone wants to work on this feature independently.

Auto-updating `Electron` apps is handled by `Squirrel`, a separate framework in itself. It currently only supports `Mac` and `Windows`. There's no way to auto-update apps on `Linux`. Not that I'm aware of.

The [autoUpdater](http://electron.atom.io/docs/api/auto-updater/) module might also be a good place to star

[2016-08-31 03:23] seanr707 commented on #28
@artigxs

Try unpacking Ramme into a folder name "Ramme" in your home folder. So if you are 'bob', then the files should be in `/home/bob/Ramme`.

Next open terminal window. Type in `cd Ramme`.

Next, type `./Ramme`

If you get an error saying the file is not executable, then type the following:

`chmod +x Ramme`

Try `./Ramme` again, and it should open the program!

[2016-08-31 20:51] sweatynate opened #32 "Implement direct messaging"
First of all, thank you for creating this app. The UI and the design is pretty amazing.

If you have time, the direct messaging feature would be awesome. I'm realizing for my use case, I'm having long conversation with friends who only use IG as their only source for social media.

If this becomes a feature, I would love to test a beta version!

thanks once again!

[2016-09-01 00:55] artigxs commented on #28
I did it from the release tab, @terkelg.

Hey, @seanr707. I tried this but i'm still getting an error `bash: ./Ramme: can not execute the binary file: Executable format incorrect` :confused:

[2016-09-01 06:40] vintagesucks commented on #32
See #1

[2016-09-01 12:05] #32 closed

[2016-09-01 12:06] terkelg commented on #28
Thanks for helping out with this @seanr707!

[2016-09-01 12:27] seanr707 commented on #28
@artigxs That sounds like that you have the incorrect binary (i.e. It is the Windows or OS X version). Check and make sure the zip file you have is `Ramme-linux-2.1.0.zip`.

@terkelg You're welcome!

[2016-09-01 16:18] vintagesucks commented on #14
See #33

[2016-09-01 19:59] artigxs commented on #28
@seanr707 I downloaded Linux version, but now I try downloading and installing the 2.1.0 release and I still getting same error.

I don't know what to do :sob:

[2016-09-02 00:07] seanr707 commented on #28
@artigxs Hmm, well then my next guess is that you are running a 32 bit version of Ubuntu? I'm looking at the source code and it looks like the Linux package is build for 64 bit OS's.

[2016-09-02 15:08] artigxs commented on #28
Oh, yeah, i'm running a 32 bit version! Well, I guess I can't do anything more :disappointed: But thank you, for taking care of this problem, I'm really grateful :smile:

[2016-09-02 15:17] seanr707 commented on #28
@artigxs No worries, wait a couple of minutes and I should have the 32-bit version built.

[2016-09-02 15:50] celebrion opened #36 "App window gets stuck"
After some scrolling in the feed, the Ramme window gets stuck on the screen, i.e. it's impossible to move around on screen. If the view is changed (e.g. to profile) and then back to feed again, the window becomes movable again.

            Ramme 2.0.0
            Electron 1.3.4
            darwin x64 15.6.0

[2016-09-02 16:47] terkelg commented on #36
Thanks for reporting this! I had this issue myself some time ago, but thought I had fixed it.

[2016-09-02 17:21] vintagesucks commented on #36
@celebrion Same issue with Ramme 2.1.0?

[2016-09-02 18:45] seanr707 commented on #28
@artigxs Here is a link to a [32-bit Linux build](https://www.dropbox.com/s/aj2ep6bexxpj6it/Ramme-linux32-2.1.0.zip?dl=0)

Build option was added in Pull Request #37

Issue should now be resolved

[2016-09-02 18:47] terkelg commented on #28
Thanks for the support on this one @seanr707. It's a huge help

[2016-09-02 18:47] #28 closed

[2016-09-02 21:26] celebrion commented on #36
Can confirm that the issue exists in 2.1.0 as well.

[2016-09-03 02:11] artigxs commented on #28
Thanks for the big help, @seanr707. I'm already using it and it's really great. It's more confortable than the web, @terkelg.  :smile: :+1:

[2016-09-03 12:09] #15 closed

[2016-09-03 13:13] #14 closed

[2016-09-03 13:23] terkelg commented on #15
Fixed with #35.

[2016-09-03 13:25] terkelg opened #38 "Hardcoded links in website"
Link to releases with `https://github.com/terkelg/ramme/releases/latest` instead.

[2016-09-03 18:20] terkelg commented on #36
Alright, I'll look at a solution to this. I'm not quite sure why this is happening

[2016-09-03 22:56] terkelg commented on #36
It's happening the second the first new batch of photos are loaded. Still trying to find a solution, without making everything ```-webkit-app-region: drag; ```

[2016-09-04 01:33] seanr707 commented on #38
Working on a microAPI that would allow you specify a url and a generic filename and it route to the latest release. Have it [possibly] functioning on my PC, Next step is to work on deployment/testing.

[2016-09-04 04:55] seanr707 commented on #38
microAPI deployed at https://arcane-forest-77480.herokuapp.com/

When given proper queries it redirects the user to the newest download for the file given in the link.

Working when tested on my [fork](https://github.com/seanr707/ramme/tree/38-dynamic-download-links)

Pull #39

[2016-09-05 14:31] stephenkingsley commented on #7
the refresh I think it can not just `window.location.href`. I think it can use `iframe` to open a hidden new page, and then replace the show page. but this has a problem is that refresh speed is a little slower than web page.

[2016-09-05 14:32] stephenkingsley commented on #7
Notification I think can use the same solution.

[2016-09-05 14:56] terkelg commented on #18
@mckennajones, @willrun4fun and @antonyrod - Can you check the latest master release and confirm if this is fixed by #42?

[2016-09-05 14:56] terkelg commented on #36
Awesome!

[2016-09-05 14:56] #36 closed

[2016-09-05 16:20] antonyrod commented on #18
Issue is not fixed yet.
Plus a few seconds after the program start getting these errors:
http://i.imgur.com/ee9XW3H.png
http://i.imgur.com/Sx6xaCM.png

[2016-09-05 17:01] terkelg commented on #18
Alright, I need to setup a virtual machine with Windows and look at this. Thanks for reporting.
I think the errors are related to the update check

[2016-09-05 22:10] terkelg commented on #18
@antonyrod is the last errors new in this release? I suspect it's due to the "update" functionality added in the latest version

[2016-09-06 05:00] mckennajones commented on #18
@terkelg My apologies, I haven't been able to find much free time lately to investigate it more. However I just tested the latest master release and the issue is still present for me on the Linux version :( I tested on Arch Linux.

[2016-09-06 07:37] antonyrod commented on #18
@terkelg yes the last errors are reproduced in the new release v2.2.0

[2016-09-06 21:08] terkelg commented on #38
Thanks @seanr707 and @anatolinicolae. I prefer to keep the code in the open, so I think we go with #43. You guys rock!

[2016-09-06 21:08] #38 closed

[2016-09-06 21:09] terkelg commented on #18
Thanks for the feedback! I'll look at it

[2016-09-07 15:14] seanr707 commented on #38
@terkelg No problem! I only chose the microservice because I couldn't embed Javascript in the README

[2016-09-10 15:33] terkelg commented on #18
I just installed Windows on a VM and I don't get the error alert

[2016-09-11 14:33] terkelg opened #45 "Installer for Windows"
Need a better builder for windows

[2016-09-12 18:20] mckennajones opened #47 "White border on top and bottom of images when viewing in profile images in dark mode"
There is currently a white border on the top and bottom of images that are viewed in profile view when dark mode is enabled. The same issue is not present when viewing the normal home page feed. It is a little distracting to me. Either way it should be consistent between the homepage and the profile view. I noticed that the screenshots in the README do not have this white border so it is probably

[2016-09-13 04:19] man2 opened #49 "multi account"
I think it's a really nice feature to have, is it possible?

[2016-09-13 06:41] alirezaafkar opened #50 "Friend request"
How to respond to friend requests?

[2016-09-13 08:08] anatolinicolae commented on #50
You actually can't since this is a wrapper of the web version of Instagram, which doesn't have this feature yet.

[2016-09-13 08:22] anatolinicolae commented on #49
Nice feature, but actually not allowed by the web neither by the mobile version of Instagram. A trick may allow this to work by the way. @terkelg put this on hold for v3, I may get it working in some time.

[2016-09-13 08:47] terkelg commented on #49
Maybe this is a cool thing to add in the fetature. I've decided that I'm open to use of Private API's in the future. Thanks for helping out with the repo @anatolinicolae.

[2016-09-13 08:52] #50 closed

[2016-09-13 09:34] anatolinicolae commented on #49
Won't be a Private API, you'll just see what I'm talking about when I get some time to dive into it.

[2016-09-13 09:55] terkelg commented on #49
I know, you can create a new window with a new session - just as private browsing does. But in generel, I'm open to the use of private APIs in the future.

[2016-09-15 22:02] terkelg commented on #47
Fixed with #48 and #47. Thanks for reporting it!

[2016-09-15 22:02] #47 closed

[2016-09-16 21:27] maxogden opened #51 "photo upload"
I'd be interested in working on this, has anyone looked into if theres even an API for it?

[2016-09-16 21:33] anatolinicolae commented on #51
Even the API you can use for mobile apps doesn't allow this. There are some tricks that you can do though to fake the device and have an image post working. @terkelg I don't think we want to go against Instagram's TOS or legal stuff...

[2016-09-17 00:31] terkelg commented on #51
I talked with @CaliAlec a few weeks ago, author of https://github.com/CaliAlec/ChromeIGStory, and he don't have any problems. This could be fun to build, and a nice addition.

Go ahead @maxogden, let's create a new branch and try this out.

[2016-09-17 00:43] terkelg opened #52 "Split code into modules and clean up."

[2016-09-17 01:08] matijagrcic commented on #51
@terkelg You can look at [upload.js](https://github.com/huttarichard/instagram-private-api/blob/8efa29e94edf8f4fe08bbaf3de35aee5528eb6be/client/v1/upload.js#L26) and [media.js](https://github.com/huttarichard/instagram-private-api/blob/cc0f43f65e5373edeeb793afc1148e93baf8e836/client/v1/media.js#L105) from the https://github.com/huttarichard/instagram-private-api

[2016-09-17 01:10] CaliAlec commented on #51
@maxogden @anatolinicolae @terkelg I'm about to release a CMS and Analytics dashboard for Instagram Stories which allows you to upload to your Story from the web. (http://devpost.com/software/mochi-instagram-stories-cms-and-analytics)

If you guys are worried about legal issues, you can wait until I release it and use me as a scapegoat, since Instagram will most likely send a Cease & Desist letter

[2016-09-17 16:01] bhberson opened #53 "Instagram Direct Support"
Would be nice to have IG Direct support to message folks. I know this is mostly a wrapper of the web UI which doesn't have this, but also on the roadmap is "Stories" which is not supported by the web...

[2016-09-19 15:59] antonyrod opened #55 "Check for Updates causes an error"
After starting the program JavaScript error occurs in duplicate.
The same error is reproduced and after selecting in the menu Help > Check for Updates.

http://i.imgur.com/kI0wsVx.png
http://i.imgur.com/ouVz8SY.png

[code]

[2016-09-19 16:45] antonyrod commented on #18
Topiс issue is repeated in the user profile:
http://i.imgur.com/zHR2lJv.gifv

[2016-09-19 16:48] terkelg commented on #18
Thanks for reporting @antonyrod. Do you still get the update error?
Can you look at the scrolling issue @anatolinicolae?

[2016-09-19 17:10] anatolinicolae commented on #18
I think I experienced the same issue in a past version but will check it again and push a fix. 😉

[2016-09-19 17:11] terkelg commented on #18
You're the man! Thanks a lot

[2016-09-20 08:38] anatolinicolae commented on #52
Which ESLint config would you like? Should we stick with the most known/big such as [Google](https://github.com/google/eslint-config-google), [Airbnb](https://github.com/airbnb/javascript)?

[2016-09-20 08:40] terkelg commented on #52
ESLint isn't needed anymore - We're now using Standard in the main repo (https://github.com/feross/standard)

[2016-09-20 08:47] anatolinicolae commented on #52
Have to lint some files anyway...

[2016-09-20 08:49] terkelg commented on #52
I'm not sure I know what you mean? Standard do lint, and actually uses ESLint behind the scenes

[2016-09-20 08:51] anatolinicolae commented on #52
Yeah, but we have to run it in the repo files since there are Standard rules are not fully applied yet.

[2016-09-20 12:31] terkelg commented on #52
I still don't get what ESLint does which Standard can't do. However, if I have to choose I'll go with ESLint with the Standard rules

[2016-09-23 07:04] fguizc opened #57 "it does not work when I refresh"
when I click the home icon , it does not work, in windows.

[2016-09-23 07:06] #57 closed

[2016-09-23 07:08] fguizc commented on #57
it is my fault , ctrl + r can work.

[2016-09-23 09:49] brandonmcconnell opened #58 "Recently Searched List"
Similar to Instagram, it would be cool if when you clicked into the actual search field, the discover section was replaced with the most recently visited options, split into Top, People, Tags, and Places.

[2016-09-23 09:52] brandonmcconnell opened #59 "Photo Map"
Instagram officially removed the photo map options for other users' profiles, but it would be really cool to add it back with thumbnails and all, if not for all profiles at least for the logged in user on their own profile.

[2016-09-23 09:56] brandonmcconnell opened #60 "Profile Tabs/Views"
Add list view as an alternative to grid view in profiles in addition to the photo map (#59) and tagged photos.

[2016-09-23 09:58] brandonmcconnell opened #61 "Posting"
Add the ability to post straight to Instagram using a technology like [Uploader for Instagram](https://itunes.apple.com/us/app/uploader-for-instagram-post/id969998518).

[2016-09-23 15:08] brandonmcconnell opened #62 "Heart appearing over image"
The heart should continue to appear over the image when double-tapped, even if already liked, like in the app.

[2016-09-23 21:40] terkelg commented on #61
This is a duplicate #51 #12. I might look at this in future

[2016-09-23 21:40] #61 closed

[2016-09-23 21:44] terkelg commented on #53
Thanks for the feature request. This is a duplicate of #1, and I might add this in future releases.

[2016-09-23 21:44] #53 closed

[2016-09-24 15:01] terkelg commented on #58
This a minor feature that require a lot of work. This is low priority at the moment. I'll rather focus on photo upload etc.

[2016-09-24 15:01] #58 closed

[2016-09-26 17:56] brandonmcconnell opened #63 "Pull to refresh"
Currently, I see no way to update/refresh feeds or posts. So if I am checking the number of likes on my own photo, I have to completely quit the app and reopen it. Implementing a pull to refresh would be great.

[2016-09-26 18:00] brandonmcconnell opened #64 "More streamlined purpose for back button"
Could we make the back button work more similarly to how it does in Instagram. It's unique depending on what tab you're on. If I am on a user's page on the Explore tab and then switch the home feed tab, the back button should grey out. If I then click into a user's feed from the home tab, the back button should appear again, and when clicked, should take me 1 level up/back. In the Instagram app, t

[2016-09-26 18:07] brandonmcconnell commented on #51
Interesting stuff. This might be worth looking into:
[https://itunes.apple.com/us/app/uploader-for-instagram-post/id969998518]

[2016-09-26 20:13] terkelg commented on #64
The problem is that this is more of a web browser than a app, and therefore I only have the browser history to navigate.

[2016-09-26 20:14] terkelg commented on #63
Duplicate of #10 #7

[2016-09-27 07:32] #64 closed

[2016-10-02 10:48] alkinkasap commented on #49
👍

[2016-10-02 19:02] brandonb927 opened #66 "Multi-account support"
I see there is a `TODO` in a Project for this repo that isn't tied to an issue. I would love to have multi-account support and would even support developing the feature if I can find some time.

[2016-10-02 21:51] terkelg commented on #66
I know this is something @anatolinicolae is looking at – however, I'm a bit too busy to work on new features at the moment since I'm about to move.

[2016-10-05 14:16] #66 closed

[2016-10-05 14:16] #63 closed

[2016-10-05 14:17] terkelg commented on #60
Thanks for contributing to Ramme. I'll close this for now and focus on more requested features for now.

[2016-10-05 14:17] #60 closed

[2016-10-05 14:19] terkelg commented on #55
Thanks for reporting! I plan to add auto-update, and this should fix issues like this

[2016-10-05 16:22] brandonb927 commented on #66
Gah! I even looked at other issues for multi-account support and apparently am blind. 🍻

[2016-10-05 21:17] terkelg commented on #66
No problem, thanks for contributing!

[2016-10-07 04:42] alireza-amirsamimi opened #67 "dark theme problem in linux"
Hello
Thanks for Ramme! it's very nice
I have a problem with dark theme in ArchLinux
when I select dark theme (with ctrl+d) and window isn't  maximized , every thing is ok! but when i maximize window then color of some parts will turn to white  and it is hard to read comment and ...
please see the screenshot :)
![ramme](https://cloud.githubusercontent.com/assets/7452500/19178988/81cb8a26-8c65-11e6

[2016-10-07 10:46] terkelg commented on #67
Thanks for reporting this @alireza-amirsamimi. Do can you try to find the selector of that element?
It's possible to get the developer tools if you run the master

[2016-10-07 11:10] alireza-amirsamimi commented on #67
How can I find the selector ?
what do you mean "run the master"
Please guide me simpler :)
do you want run program from terminal or send you special error report or log or ...

and I forgot to say that. every time I run ramme , I get this error

A JavaScript error occurred in the main process
Uncaught Exception:
Error: connect ECONNREFUSED 10.10.34.36:443
    at Object.exports._errnoException (uti

[2016-10-07 11:34] terkelg commented on #67
Yes, this is an error with the update function. I'm going to do a rewrite of Ramme and get that one fixed. Ramme isn't supposed to run in fullscreen mode, but I'll take a look at it myself at some time

[2016-10-08 15:58] probonopd opened #68 "AppImage for Linux"
[AppImage](http://appimage.org/) is a format for distributing portable software on Linux without needing superuser permissions to install the application. Here is an experimental Ramme AppImage for you to test:

https://bintray.com/probono/AppImages/Ramme/_latestVersion#files

Just download the AppImage, set the executable bit with the GUI or `chmod a+x Ramme*AppImage`, and run. No unpacking, no i

[2016-10-08 17:08] terkelg commented on #68
Interesting, I'll love to provide official AppImages for linux! I'm very open for this addition. I don't run linux myself, and didn't know about the problems. Could you be interested in doing a pull request for this?

[2016-10-08 17:23] probonopd commented on #68
Where do your binaries actually get built? I see you are not using [Travis CI](https://travis-ci.org/) for this.

[2016-10-08 17:34] terkelg commented on #68
At the moment I have a built script in [package.json](https://github.com/terkelg/ramme/blob/master/package.json#L20).

However, I actually plan on doing a rewrite of Ramme with focus on automating the build and release process (Auto-updating etc.). My plan is to use Travis CI, and switch to [Electron-Builder](https://github.com/electron-userland/electron-builder) for packaging. I didn't know about

[2016-10-08 17:35] probonopd commented on #68
Yes. In this case I won't send a PR as electron-builder will build AppImages for "free".

[2016-10-08 17:44] terkelg commented on #68
Awesome, thanks for pointing this out! I'll definitely improve this with the next rewrite

[2016-10-09 00:27] Adrian-Benavente opened #69 "No scrollbar in arch linux"
I can see no scrollbar in archlinux

[2016-10-09 19:22] keyvann opened #70 "javascript error while opening"
![image](https://cloud.githubusercontent.com/assets/22478304/19223053/fb48087a-8e72-11e6-89a9-8e497c6307cd.png)

[2016-10-10 00:00] DroWnThePoor opened #71 "Linux: No tray icon, Program continues to run but has to be killed manually."
OS: Elementary OS Freya(0.3.-) which is Ubuntu 14.04.
I have no icon for Ramme in my tray, which uses Aptana, I'm sure this program is compatible with Aptana right? Any help appreicated.

[2016-10-10 10:40] VoOoLoX commented on #71
https://github.com/electron/electron/pull/7319

This might help

[2016-10-10 18:59] terkelg commented on #71
Thanks for helping put @VoOoLoX. I don't have any experience with this however - I plan to do a little rewrite, and support AppImage builds. This might fix it for future releases

[2016-10-10 19:02] terkelg commented on #70
Thanks for reporting this. This is a known issue, and I'll do a rewrite soon and fix this issue.
Duplicate of #55.

[2016-10-10 19:02] #70 closed

[2016-10-11 11:28] anatolinicolae commented on #69
Should you?
I know this is ok on macOS since you don't see any scrollbars if you're using Magic Mouse or Magic Trackpad, but if you connect a normal PC mouse the scrollbars magically appear.

[2016-10-11 20:07] terkelg commented on #69
As @Adrian-Benavente said, there's actually no scrollbars 👍

[2016-10-14 10:02] emporeso2 opened #72 "Javascript error"
I launch the latest release Ramme-linux32-2.3.0 , i'am on ubuntu.

[https://framapic.org/ZGd0rQmFvIcb/fSaKdHWeGWc9.png](url)

[https://framapic.org/tyi0hEjkVaxE/nRH7xwvWL1e1.png](url)

[2016-10-14 13:24] terkelg commented on #72
Hi @emporeso2  - Thank you so much for helping out and reporing this. I'm aware of the bug, and I plan to do a rewrite of Ramme soon. Duplicate of #70 #55

[2016-10-14 13:24] #72 closed

[2016-10-24 02:33] saransh55 opened #74 "Installation in Linux"
Hi,

I'm new to linux and was wondering if someone could guide me with the installation process. Thanks in advance!

[2016-10-24 03:40] terkelg commented on #74
Hi there!
I'm not a Linux user myself, but there will be a new release of Ramme soon with way better linux installation using AppImages

[2016-10-30 04:24] #74 closed

[2016-10-30 04:25] #68 closed

[2016-10-30 04:25] #69 closed

[2016-10-30 04:25] #71 closed

[2016-10-30 04:26] terkelg commented on #59
Thanks for your suggestion. I'll consider it for future releases 👍

[2016-10-30 04:26] #59 closed

[2016-10-30 04:26] terkelg commented on #62
Thanks for your suggestion. I'll consider it for future releases 👍

[2016-10-30 04:26] #62 closed

[2016-10-30 04:26] terkelg commented on #45
Coming in v3 of Ramme

[2016-10-30 04:26] #45 closed

[2016-10-30 04:27] #49 closed

[2016-10-30 04:28] #52 closed

[2016-11-02 06:46] englishextra commented on #51
Frankly, you will not gonna get this, it's business, and without upload option this app is completely useless and is a wrapper for instagramm site.

So stop fooling around people. Frankly, stop doing it.

[2016-11-02 06:51] terkelg commented on #51
I've been busy lately and haven't been able to work on Ramme, but I'm sorry you find the app useless.

[2016-11-02 16:54] brandonmcconnell commented on #51
I personally love the app. Keep it up!

[2016-11-02 19:35] emporeso2 commented on #51
@englishextra hey man don't be so rude !
Man you are yelling !
Let coders code man .
@terkelg ,i'am a linux user and i'am happy to have found your app owrking on my linux.
Take your take,it's not business, this is the quality that count.

[2016-11-03 03:08] englishextra commented on #51
@emporeso2 Yeah-yeah

[2016-12-04 04:34] terkelg opened #76 "v3 branch"
Hey folks.
I don't have time to finish Ramme v3 at the moment. If anybody want to help, you're more than welcome!

[2016-12-04 09:18] anatolinicolae commented on #76
I've been busy as well lately but I'm getting back on it ASAP. Also, let us know if you want to contribute & we'll add you to the Slack channel.

[2016-12-06 02:22] amadeu01 commented on #76
Hi, I'd like to help. Do you have any directions of what I can help ?

[2016-12-06 03:33] terkelg commented on #76
We could use a bit more clean up in the code base, structure and if you like you're more than welcome to look at photo upload 👍

[2016-12-11 21:01] nicosuave opened #77 "Move navigation to the top of the window"
I suggest this because I expect the window to be draggable when I grab the top of it, a la Anatine, and every single app with a title bar (which is most)

[2016-12-11 22:26] nicosuave commented on #77
A draggable ~40px portion @ the top would be a nice alternative as well

[2016-12-11 23:10] anatolinicolae commented on #77
It would be a bit difficult since it usually has post user's info there...

[2016-12-12 06:23] nicosuave commented on #77
I think It's doable. Check out Paws for Trello as an example. I'll look into this

[2016-12-12 06:47] terkelg commented on #77
All help is very appreciated. Feel free to contribute to the v3 branch instead of master 👍

[2016-12-12 09:05] anatolinicolae commented on #77
@nicosuave as you can see, Trello and Anatine have a static top bar while Ramme doesn't have that anymore since it was moved to the left. What we could do is make the app draggable by every post header (user info I was talking before) but that won't work if you scrolled a bit and you have an image at the top now. If we put that 40px block there you won't be able to click the first post user link.

[2016-12-28 01:02] plethorum opened #78 "Viewing removed posts leaves Ramme interface"
![ramme screenshot](https://puu.sh/t34j3/816f903a58.png)

Thats what I saw when i tried loading a deleted post on Ramme.

[2016-12-29 09:52] omaidb opened #79 "不能发布照片Can not publish photos"
很遗憾，只能点赞，不能发布照片。

[2016-12-29 09:52] omaidb commented on #79
Unfortunately, only point praise, can not publish photos.

[2016-12-29 16:24] anatolinicolae commented on #79
Duplicate of #51.

[2016-12-29 16:24] #79 closed

[2017-01-02 19:03] armand1m opened #80 "Feat: Appimage distribution"
I was thinking and It would be nice to have `.appimage` build files available for simple distribution of the application in the Releases tab.

[2017-01-02 19:16] anatolinicolae commented on #80
Duplicate of #68. It's already in v3 branch ;)

[2017-01-02 19:16] #80 closed

[2017-01-15 22:20] #76 closed

[2017-01-15 22:20] #55 closed

[2017-01-15 22:20] #77 closed

[2017-01-16 02:28] alpvonkri opened #82 "Can't run on Linux"
Can't run version 3.0.0 on openSUSE Linux.
Always get this error and app freezes, need to be forcekilled.
![screenshot_20170115_202621](https://cloud.githubusercontent.com/assets/104341/21969123/20678e06-db61-11e6-9635-f835a0a36d71.png)

[2017-01-16 03:58] terkelg commented on #82
Thanks for reporting @alpvonkri. I'll have a look at it.

[2017-01-16 07:08] terkelg commented on #82
Can you check the new version?

[2017-01-16 16:59] YFoundIt commented on #82
i check it on mint
it has same error

[2017-01-16 21:16] j-keiter opened #83 "Error on version 3.0.1 on Ubuntu Gnome 16.04 Linux"
![2017-01-16_rammeerror](https://cloud.githubusercontent.com/assets/24608664/21999230/db8ea228-dbed-11e6-8505-5606d95f6f31.png)

[2017-01-16 21:18] anatolinicolae commented on #83
Dupe of #82.

[2017-01-16 21:18] #83 closed

[2017-01-16 21:19] anatolinicolae commented on #82
This issue has been solved now and will be available in the next release.

[2017-01-17 01:43] alpvonkri commented on #82
Still the same in 3.0.1.

[2017-01-17 01:55] terkelg commented on #82
Thanks for the feedback, and you're right it's still not working. However, @anatolinicolae fixed it and it will be a part of v3.0.2.

[2017-01-17 21:37] alpvonkri commented on #82
Error fixed in 3.0.2., app works.
But now it doesn't show a system tray icon, so if closing the main window, app keeps running in background, so it needs to be force killed to close it.

[2017-01-17 22:48] anatolinicolae commented on #78
Fixed in v3.0.2.

[2017-01-17 22:48] #78 closed

[2017-01-17 23:07] anatolinicolae commented on #82
I had this issue as well but didn't have time to dive into it. Will check by tomorrow and update you guys.

[2017-01-18 15:08] anatolinicolae commented on #82
Can you guys tell me which Linux distributions and window managers you use so I can try something that works on your combos.

Both my Mint and Debian do not show any tray icon. Mint allows to minimize it to the task bar but nothing in the tray so far.

The force kill may be needed mainly because close button doesn't close the app but only hides it (then you can go check the tray and quit from ther

[2017-01-18 19:25] anatolinicolae commented on #67
Ramme is not supposed to be maximized and [the directive is already present](https://github.com/terkelg/ramme/blob/master/app/src/main/index.js#L102) in the starting config. This is an Electron issue since their documentation states that [this function is not implemented](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#new-browserwindowoptions) yet on Linux along some o

[2017-01-18 19:25] #67 closed

[2017-01-19 00:20] alpvonkri commented on #82
openSUSE Leap 42.2
KDE
RPM based installations.

[2017-01-21 01:35] truckerboy commented on #82
Ubuntu 16.04 64 bit running gnome-shell (with libappindicator1 installed), same issue. Tray icon not visible but if I right click on where the tray icon is "supposed to be located", I get toggle/quit etc options when I right click. This is a regression from version 2.3.0 where it was working correctly.

[2017-01-21 02:02] terkelg commented on #82
@anatolinicolae are you looking into this?

[2017-01-21 11:22] anatolinicolae commented on #82
Sure thing, just have to check the different OS setups. Will update you guys ASAP.

[2017-01-22 11:59] jaywyeee opened #84 "Cannot see the Ramme window"
Ramme isn't visible. I can see the preview but the window is invisible. This happened with v2.3.0 but I didn't really care as I didn't need to use Ramme. I downloaded v3.0.2 as I recently needed it again and the same thing happens.

![2017-01-22_18-56-11](https://cloud.githubusercontent.com/assets/19872495/22182299/9b1db76a-e0d4-11e6-9302-7d071a0945a9.png)

[2017-01-25 12:00] Nenkai opened #85 "Windows build only works on 64-Bit"
I'm using a 32-bit OS and had no issues before v3 came in. I cannot install Ramme as it says "64-bit Windows is required."

It works fine if i build it from source, though.

[2017-01-25 12:28] anatolinicolae commented on #85
It looks like @terkelg added only 64 bit builds. We'll check it out and add a 32 bit release as well.

[2017-01-26 05:42] alpvonkri commented on #82
Update.
Still no icon in 3.0.3.

[2017-01-26 12:37] anatolinicolae commented on #85
Can you check out the latest release @Nenkai?

[2017-01-26 20:54] Nenkai commented on #85
@anatolinicolae Works flawlessly. Thanks for the quick fix

[2017-01-26 21:19] anatolinicolae commented on #85
Yeah, known issues #82 and #84, looking forward to fix them in the next one :confounded:

[2017-01-26 21:19] #85 closed

[2017-01-29 01:09] lucianomunoz commented on #51
the one reason i'm looking for a desktop version of instagram is to upload videos an pics from y computer, will that ever be possible?, your app is really nice still.

[2017-01-29 12:44] anatolinicolae commented on #51
Photo and video upload is definitely something we want to implement but currently there are no milestones for this since we have few bugs to fix atm.

[2017-01-29 22:11] emporeso2 opened #87 "32bit linux version"
Hi,

why there is no 32bit linux version ?

Thanks

[2017-01-31 17:22] erosenberg opened #88 "Always shows "Open in app" button"
The "Open in app" button always shows and is kind of annoying. Sorry if this has been mentioned before!

[2017-01-31 19:15] terkelg commented on #88
Thanks for reporting. Can you send me a screenshot?

[2017-01-31 19:16] anatolinicolae commented on #88
No need, I'm aware of this and can fix it. Will do ASAP ;)

[2017-01-31 21:32] erosenberg commented on #88
Ahh, thanks @anatolinicolae !!
And thanks @terkelg for the quick reply! Awesome app.

[2017-01-31 21:35] erosenberg opened #89 "Home button scroll back to top?"
When you hit the home button, and are already on your main feed, can it scroll back to the top like it does in the Instagram iOS app?

-E

[2017-02-08 03:16] foreseaz opened #90 "Remove the iOS app installation banner at login page"
Hi @terkelg , appreciate your great work of ramme.

Would you consider remove the Instagram iOS app banner at login page shown as following?

![image](https://cloud.githubusercontent.com/assets/5697641/22722119/d5babe7c-edef-11e6-8d64-0738cca38fe1.png)

It covered the DnD area, which is a little bit annoying = =, keep on the great work!

[2017-02-08 18:48] anatolinicolae commented on #90
Added a new CSS rule which should keep working in the next Instagram versions as well.

[2017-02-08 18:48] #90 closed

[2017-02-08 19:07] anatolinicolae commented on #88
"Open in app" button removed together with the App Store button at the bottom. Available in the next release ;)

[2017-02-08 19:07] #88 closed

[2017-02-09 02:50] foreseaz commented on #90
@anatolinicolae so fast and great work!

[2017-02-10 14:47] seitbekir commented on #84
On my Ubuntu machine the promlem is like that. Ramme 3 not appear in top/right bar as it was with 2.3. So, If you close it, you have to kill process ans start again to see the window

[2017-02-10 14:52] anatolinicolae commented on #84
I'm aware of this as I experienced it as well. Still couldn't figure out what was the problem since our code follows electron's guidelines... :unamused:

[2017-02-10 20:22] hyperfekt opened #91 "Past likes"
I'm loving your app, and while I'm not a heavy instagram user I installed it in the hope to have a more comfortable way to browse my past likes.
Is it possible to add that functionality? Also, the official app only goes back the last 500 ones, but that might be an API limitation.

[2017-02-11 19:19] IonutGherman opened #92 "Icon is not showing in Cinnamon desktop"
![screenshot from 2017-02-11 21-14-59](https://cloud.githubusercontent.com/assets/16104032/22856706/c0e547bc-f09f-11e6-9459-3d0df193082e.png)

[2017-02-11 19:33] anatolinicolae commented on #92
Known issue #84, give it a search.

[2017-02-11 19:33] #92 closed

[2017-02-11 20:00] terkelg commented on #92
@anatolinicolae can you maybe have a look at the source code from v2, this is a new issue in v3 - It didn't happen before 👍

[2017-02-11 20:04] anatolinicolae commented on #92
This icon bug appeared on Windows as well. Will definitely check v2 and copy whatever was there before hoping for a working fix.

[2017-02-15 19:35] pi99y opened #93 "Quiting the app doesn't shut it down"
Hi,
I'm running Xubuntu 16.04 64bit and after I quit the app (click on the X icon) the window disappears but its process remains present. I noticed this since I cannot restart the app until I manually kill the "ramme" process.

Thanks for making the app btw! :)

[2017-02-15 19:37] anatolinicolae commented on #93
This issue was discovered in issue #84. We'll fix it in the next release! ;)

[2017-02-15 23:08] DroWnThePoor opened #94 "How to upgrade app? Or find which version is installed?"
I installed this app some time ago on a variant of Ubuntu 14.04 64 bit , and I don't remember if I built it from a git-clone or installed it via deb. How can I find out which version I have installed? And also I
see on the main page of this github that it has automatic updates, does that mean I do not need to install newer versions via deb?

[2017-02-16 16:10] kmslogic opened #95 "Closing "Instagram Find it Free in the App Store" message kills feed"
![image](https://cloud.githubusercontent.com/assets/1765725/23029406/a6662c9a-f427-11e6-8ac5-ae6ba5e69f28.png)

clicking the x to close this message causes the Instagram feed to disappear.  Only way to recover is to close ramme via the task manager in windows.

[2017-02-16 18:36] terkelg commented on #95
Thanks for reporting the issue. We'll look into it.

[2017-02-16 18:45] terkelg commented on #94
I'm actually nut sure if auto-update works on linux - let me look into that. Do you know that @anatolinicolae?

[2017-02-16 18:50] anatolinicolae commented on #94
You should first remove old Ramme version with
`dpkg -r ramme`

Then you can get the latest AppImage and directly run, or get the latest deb and install with
`dpkg -i path/to/ramme.deb`

The AppImage should automatically update on new releases. Regarding the deb, you may see updates while running `apt update && apt list --upgradable`.

[2017-02-16 19:16] anatolinicolae commented on #95
I guess I missed that banner in the latest fix. Will dive into it again.

[2017-02-18 21:24] DroWnThePoor commented on #94
@terkelg @anatolinicolae Thanks for taking the time to address my question, I feel like a lot of people who really need this app are Linux users in particular, just saying. Keep up the great work.

[2017-02-23 07:59] xxiloa opened #97 "How to make it ?"
Hi,
I run opensuse linux leap 42.2.
it don't work. this is return :

[code]

[2017-02-23 19:11] anatolinicolae commented on #97
I'll add a quick guide to build it some time.

Anyway, it's just few steps to follow.

First, install app's deps:
[code]
Then install main package deps:
[code]
Then run the build:
[code]

Make sure to run these commands from the dir where you cloned Ramme into. If you get an error, try `sudo`ing or give up.

[2017-02-28 07:15] RypeDub420 opened #98 "No Private / Direct Messages?"
Why can every other feature be available unofficially, but not DM's / PM's?

[2017-02-28 10:15] RypeDub420 commented on #84
On Windows, there is no icon for the Taskbar, but is a blank space.

Right clicking this brings up Show, GitHub, New Issue, Quit. All options function, and the process terminates when you choose quit.

[2017-03-01 11:57] theel0ja opened #99 "Remove App Store notification in top of the window"
Title describes everything. Here is photo of that:
![image](https://cloud.githubusercontent.com/assets/5832930/23458901/bdcf94de-fe86-11e6-8ba6-407251ed5ed3.png)

[2017-03-03 02:41] wa1id commented on #98
Wondering as well. The Official Windows App of Instagram has it. Too bad I can't find anything on Linux

[2017-03-03 08:42] vsile commented on #87
+1

[2017-03-03 14:02] anatolinicolae commented on #98
@wa1id does it? Can you link me the Windows app?

[2017-03-03 14:02] #97 closed

[2017-03-08 08:56] santimacia commented on #98
Is on the oficial marketplace
https://www.microsoft.com/en-us/store/p/instagram/9nblggh5l9xt

[2017-03-09 19:58] MichaelTunnell commented on #87
Most distros are dropping support for 32-bit anyway so might not be worth the effort to maintain a package that can't be used on many distros.

64-bit has been around for over 13 years now . . . it's time to leave 32-bit behind.

[2017-03-12 07:55] theel0ja opened #100 "Tray icon invisible on Linux"
Ramme's tray icon is invisible.

![image](https://cloud.githubusercontent.com/assets/5832930/23830059/d8124a72-0709-11e7-910d-ce031f3b18aa.png)

OS: Linux Mint 18.1 Cinnamon Edition
Theme: Adapta-Nokto
Icons: Numix-Circle

[2017-03-15 14:34] Caver1 opened #101 "No tray/panel icon No way to quit"
Using Ramme 3.0.3 with Ubuntu 16.04. I get no tray/panel icon when Ramme is open and get no way to quit Ramme. Can only close window.
I have to kill the Ramme process to quit.

[2017-03-16 00:13] Nhanderu opened #102 "Unreadable text on dark mode"
This is just a small detail, but it is always worth pointing it out. 😉

My profile page:
![normal-mode](https://cloud.githubusercontent.com/assets/7098211/23976065/d9a95b52-09c3-11e7-959d-9c72f28ebca8.png)

My profile page on dark mode:
![dark-mode](https://cloud.githubusercontent.com/assets/7098211/23976066/d9ae3e88-09c3-11e7-844b-8272c62fbbb1.png)

The texts on the "Edit Profile" button and the

[2017-03-18 10:35] rohmanhm opened #103 "Can't go to upload page"
When I click Photo icon, it's not going to upload or create page (stuck in current page).
Just the photo icon be darken

![image](https://cloud.githubusercontent.com/assets/7524911/24071286/1d42a640-0c01-11e7-92ab-5395a69e5958.png)

[2017-03-18 16:35] anatolinicolae commented on #103
Strange thing I don't remember adding this in the previous commits. Will have a look into it.

[2017-03-23 20:08] lucassmacedo commented on #103
i have the same problem

[2017-03-24 13:24] wendellverli commented on #103
Can I upload PHOTOS from my desktop??

[2017-03-24 14:01] orjanv commented on #103
same problem here too

[2017-03-25 12:59] terkelg commented on #103
It's not possible to upload from desktop at the moment.
We are looking for maintainers of this project too.

[2017-03-27 18:56] theel0ja opened #104 "About-page shows only error"
![image](https://cloud.githubusercontent.com/assets/5832930/24372903/333351dc-1338-11e7-80d4-61588e02ca22.png)
[Alt] -> Help -> About

            Ramme 3.0.3
            Electron 1.4.14
            linux x64 4.4.0-53-generic

[2017-03-27 19:01] anatolinicolae commented on #104
Error due to a code migration from v2 to v3. Will fix for next release.

[2017-03-28 18:39] terkelg opened #105 "HELP: Maintainers"
I'm looking for maintainers to help take care of issues and fixes, since I'm too busy at the moment to maintain the project myself.

[2017-03-29 15:43] nedrichards opened #106 "Cache content offline"
If you launch the app with the computer offline you see a blank screen, it'd be great if the contents from the previous run were cached.

[2017-03-29 17:01] terkelg commented on #106
It's currently just a wrapper around the instagram website.
I'm not sure what the possibilities are here. I'm a bit busy, but if you have time to look at this I'll love to accept a pull request on this 👍

[2017-03-29 17:03] anatolinicolae commented on #106
It could be done if we switched to an API instead of working on the wrapper. The current state doesn't allow us to do this kind of caching mainly because we can't fetch new items on start and show the cached ones...

[2017-03-30 14:12] nedrichards commented on #106
For sure! I was wondering about caching but that makes sense as to why it's not an 'easy hack'. I'll certainly have a think about 'you are offline' messaging as well.

[2017-03-30 14:14] terkelg commented on #106
That could be a good solution. It should be easy to detect connection and display some sort of message.

[2017-04-01 10:27] theel0ja opened #107 ""Get Instagram app" screen on login"
![image](https://cloud.githubusercontent.com/assets/5832930/24577862/def61df2-16de-11e7-8759-d2b4b815cef1.png)

[2017-04-01 10:28] theel0ja opened #108 "Do not hardcode tray icon on Linux"
Tray icon is not themable on Linux.

[2017-04-02 01:22] DroWnThePoor opened #109 "Instagram "header bar" cuts off home icon(Linux:ElementaryOS-Freya[Ubuntu16.04])"
![rammeissue](https://cloud.githubusercontent.com/assets/16339020/24583689/0e680978-1721-11e7-8512-3a8b342dbc00.png)
I hate making issues for this app, I know it's gotta be hard keeping up with an un-official version of one of the most popular cloud-apps on the net.

[2017-04-02 09:46] anatolinicolae commented on #109
Don't worry dude, but it happens. In v3 we still kept the selectors of the first versions of the app so it is kinda expected since they were "static class" selectors which may change on new Instagram deploys.
Will release a new update soon fixing it 😉

[2017-04-03 06:32] DroWnThePoor commented on #109
Thank you sir, you guys rock.

[2017-04-08 11:01] muphli opened #110 "Sidebar glitch"
There's a glitch in the sidebar. Timeline-button and back-button overlap/are too close.
<img width="81" alt="ramme_sidebar" src="https://cloud.githubusercontent.com/assets/744156/24828360/66132cb8-1c5b-11e7-9aa8-6f2c3a838027.png">

            Ramme 3.0.3
            Electron 1.4.14
            darwin x64 16.5.0

[2017-04-12 05:46] earthbound19 commented on #51
+1 this would be awesome, and thanks regardless for the very handy application.

[2017-04-12 13:56] chocoelho commented on #110
See #109

[2017-04-14 18:01] aranajhonny commented on #51
@terkelg I've tried with https://github.com/huttarichard/instagram-private-api and uploading images works quite well. But I do not know if you would agree to use a third party API to enable this and other functions.

[2017-04-14 18:08] anatolinicolae commented on #51
That's actually great @aranajhonny! Go ahead and submit a pull request! 🎉

[2017-04-14 18:22] terkelg commented on #51
Sounds awesome @aranajhonny. Create a pull request and let's have a look 👍

[2017-04-17 21:17] earthbound19 commented on #51
The tools at the repository linked as "similar" at the end of the readme at yon repository--I've tried this via CLI on windows (using a provided example) and it uploads ok:

https://github.com/mgp25/Instagram-API

[2017-04-17 22:58] aranajhonny commented on #51
With javascript this is possible https://github.com/aranajhonny/ig-upload. The problem is that you have to rewrite much of this application. Especially for the authentication part, currently it is a wrapper of instagram website. The adoption of an api would facilitate this and other [things.](https://github.com/terkelg/ramme/issues/106)

[2017-04-18 08:10] terkelg commented on #51
Looks really good @aranajhonny! Maybe we should switch from wrapping the website to just use the unofficial api and build our own front-end?

[2017-04-19 18:54] bil-elmoussaoui commented on #108
sadly, electron tray icons can not be themeable.. at least for now :) you can use Hardcode-Tray to achieve the same result :)

[2017-04-22 16:32] MasterYushi commented on #98
I am looking for that too, can it be added?

[2017-04-22 18:17] aranajhonny commented on #98
Just like this you need an api. Would be a good feature.

[2017-04-30 10:30] SammDu opened #112 "Proxy Configuration Request"
Hope you can add a proxy function to this app so I can use it under limited conditions, without changing the system global proxy settings. Better if it supports both http proxy as well as socks5 proxy.
Even a config file variable would be appreciated ;-)
Thanks a lot!

[2017-05-05 23:41] Josh452 opened #113 "Side bar glich"
![screen shot 2017-05-06 at 11 40 10 am](https://cloud.githubusercontent.com/assets/28419796/25767814/cf29e510-3250-11e7-8a08-b9fb92960c86.jpg)

[2017-05-09 11:20] terkelg commented on #113
Thanks. I'm going to update Ramme this week.

[2017-05-09 11:21] terkelg commented on #107
Thanks, I'm going to update Ramme this week.

[2017-05-09 11:22] terkelg commented on #110
Thanks, duplicate of #109 and #113 . I'm going to work on Ramme this week and fix this.

[2017-05-09 11:23] terkelg commented on #109
I'll work on Ramme this week and take look at this.

[2017-05-09 11:24] terkelg commented on #108
I don't have linux and I can't test this myself. Let me know if you're up for this @anatolinicolae

[2017-05-09 11:25] terkelg commented on #98
Support for this will land when Instagram allow it in their web ui. I'm closing for now.

[2017-05-09 11:25] #98 closed

[2017-05-09 11:25] terkelg commented on #106
How's it going with this @nedrichards and @anatolinicolae? Otherwise I'll close this issue.

[2017-05-09 11:26] terkelg commented on #51
Photo upload now possible. I'm going to update the app to accommodate the new feature.

[2017-05-09 11:27] terkelg commented on #91
Thanks for the feature request. This is currently out of scope. Closing for now.

[2017-05-09 11:27] #91 closed

[2017-05-09 11:27] terkelg commented on #18
What's the status on this @anatolinicolae?

[2017-05-09 11:28] #94 closed

[2017-05-09 11:29] terkelg commented on #112
Thanks for the feature request 👍.
This is currently out of scope. Closing for now.

[2017-05-09 11:29] #112 closed

[2017-05-09 11:36] #87 closed

[2017-05-09 11:37] terkelg commented on #103
It's now possible to upload photos. We're going to add full support for this in the next few weeks.

[2017-05-09 11:37] #103 closed

[2017-05-09 11:40] terkelg commented on #102
Thanks, I'm going to take a look at this.

[2017-05-09 11:43] anatolinicolae commented on #106
It requires a lil more code to get something like this done but there's no Instagram client that does it. Flume for macOS has a loading indicator which loads latest content and even Instagram for iOS has a blank screen after which new posts are loaded. We can do a similar thing to the indicator but caching posts is not a thing we can do with a web wrapper.

Yet, if anyone has it working, that's a

[2017-05-09 11:44] #106 closed

[2017-05-13 07:42] Fincer commented on #51
This sounds great @terkelg! Keep up the good work!

[2017-05-13 13:05] #89 closed

[2017-05-13 13:25] #107 closed

[2017-05-13 13:25] #110 closed

[2017-05-13 13:25] #113 closed

[2017-05-13 13:26] #51 closed

[2017-05-13 13:55] terkelg commented on #7
Closing this for now

[2017-05-13 13:55] #7 closed

[2017-05-13 22:31] Fincer commented on #100
Happens on Arch Linux, too. (KDE5 Plasma desktop)

[2017-05-14 18:10] d0od88 opened #114 "Sidebar overlaps body content"
In the default vertical layout the sidebar overlaps with the main content in all available views, including home, discover, profile and notifications.

![screenshot from 2017-05-14 19-09-48](https://cloud.githubusercontent.com/assets/869982/26036639/0bb9fd74-38d9-11e7-97fb-4f3c97ba8100.png)

            Ramme 3.1.0
            Electron 1.7.0
            linux x64 4.10.0-21-generic

[2017-05-14 18:58] terkelg commented on #114
Strange, I don't have that issue. Can you try to inspect it in the dev build and give me the selector?

[2017-05-14 18:59] anatolinicolae commented on #114
I'll have a look into this since I saw it it some pages, not all. Will check and push a fix ASAP.

[2017-05-14 19:00] terkelg commented on #100
@Fincer can you maybe take a look at this? I don't have a linux desktop

[2017-05-14 19:03] terkelg opened #115 "[Consider] Remove linux support"
Almost every open issue is linux related.
I don't have linux myself, and can't test or debug it. I'm looking for maintainers who can help with this. I don't have the time to look into this myself, and I therefore consider to remove linux support.

[2017-05-14 19:04] #95 closed

[2017-05-14 19:04] #99 closed

[2017-05-14 19:09] aranajhonny commented on #115
I'll check the errors with linux. I do not think it is compatible with all desktop environments. I will try to make it work in the most used ones.

[2017-05-15 06:56] Fincer commented on #100
I could but do you have any instructions how to debug the program? I'm currently using AUR version of the program which is based on the Ramme .deb installation package.

I don't have any terminal output for ramme executable and when I try gdb tool (GNU Debugger) it complains that the executable is not compiled with debug symbols.

You may consider setting up a virtual linux desktop environment (Vi

[2017-05-15 07:01] Fincer commented on #104
I get exactly the same error message (same strings & numbers and so on). Ramme, v. 3.1.0.

[2017-05-15 07:08] Fincer commented on #115
Why don't you set up a virtual desktop environment (Lubuntu, Kubuntu?) on VirtualBox for testing purposes?

It would help a lot if the program were compiled with debug symbols or there would be step-by-step instructions how to do that. I already saw [an issue](https://github.com/terkelg/ramme/issues/97) for that but couldn't get the same files as an output than it's included in the precompiled deb

[2017-05-16 14:13] terkelg commented on #115
Thanks for helping out @aranajhonny and @Fincer. I haven't had the time to setup the VM and look at it yet.

[2017-05-20 05:55] 0x92 opened #118 "Hashtags arent posted"
I made a post with my hashtags but when i checked the post on my smartphone the description was empty and without any hashtags

[2017-05-21 09:07] laurent-d opened #119 "Possibility to upload video ? and png image ?"
Thanks for your amazing Work @terkelg !!!
Is it in the schedule the support of video  upload?
Cheers

[2017-05-21 14:11] DroWnThePoor commented on #115
Please do not cancel this for Linux, it's pretty popular. This is built on Electron right? What parts of the code have to be native to Linux?

[2017-05-21 14:59] yimankaing commented on #114
I get this too on linux

[2017-05-22 16:28] MichaelTunnell commented on #115
I haven't had the time to setup the VM and look at it yet.

Premade Virtual Machines for [Ubuntu](http://www.osboxes.org/ubuntu/) and [Ubuntu GNOME](http://www.osboxes.org/ubuntu-gnome/).

---------------

i don't understand what is Linux specific but if you were to end support for Linux then that means I will have to find an alternative.

[2017-05-22 21:00] terkelg commented on #115
I just don't have the time to look into the bugs. I've been looking for people to help maintain, but without luck.

@DroWnThePoor there's just some issues with the layout, and yes, it's built in Electron.

[2017-05-22 21:01] terkelg commented on #118
Thanks for the issue. I'm pretty sure this on is on Instagram though. Closing for now, and hope they fix it on their end

[2017-05-22 21:01] #118 closed

[2017-05-22 21:02] terkelg commented on #119
We can only do what Instagram themself allow. It's not possible at the moment, but thanks for the feature request and interest in Ramme. 👍

[2017-05-22 21:02] #119 closed

[2017-05-23 09:11] PetersenLars commented on #114
I have the same issue on MacOS.

Ramme 3.1.0.80
MacOS 10.12.4

[2017-05-23 21:19] alexslee commented on #114
Same issue, v3.1.0.80 on 10.12.4. Happens right after logging in without any other adjustments, and occurs on every page of Insta for me
<img width="484" alt="screen shot 2017-05-23 at 2 17 34 pm" src="https://cloud.githubusercontent.com/assets/18637446/26376800/a9141d3a-3fc2-11e7-8b6b-fc5410803177.png">

[2017-05-24 05:56] brandonb927 commented on #114
Just installed Ramme again and am seeing this issue:
![image](https://cloud.githubusercontent.com/assets/1509352/26388725/e49b8e04-400a-11e7-8990-c42258269299.png)

Ramme 3.1.0.80
macOS 10.12.5

[2017-05-24 12:07] ludviglindblom commented on #114
Same for me.
Ramme 3.1.0.80
macOS 10.12.4

![screen shot 2017-05-24 at 14 06 17](https://cloud.githubusercontent.com/assets/445328/26402368/5b493504-408a-11e7-97b0-8dd9c0e5b72c.png)

[2017-05-24 14:47] bil-elmoussaoui commented on #108
@terkelg This can be closed, as electron doesn't provide a solution for it

[2017-05-24 14:52] bil-elmoussaoui commented on #115
@terkelg I can help with testing/fixing bugs on Linux,; and also write some features if needed. Do you have a way to communicate with the rest of the team?

[2017-05-24 16:08] terkelg commented on #108
Thanks for the help @bil-elmoussaoui - I appreciate that.
Yet another reason to consider if Linux should be supported #115.

[2017-05-24 16:08] #108 closed

[2017-05-24 16:09] terkelg commented on #115
Hi @bil-elmoussaoui thanks for helping out. You're more than welcome to join us on slack.
Let me know which email can use to invite you

[2017-05-24 16:13] bil-elmoussaoui commented on #108
@terkleg Chrome does support Icon themes on Linux. But electron doesn't

[2017-05-24 16:14] bil-elmoussaoui commented on #115
Bil[dot]elmoussaoui[at]gmail[dot]com
Can you remove this comment once it's done? Thanks

[2017-05-24 19:14] bil-elmoussaoui commented on #114
I can't confirm this bug...Can anyone help me to reproduce it?

[2017-05-24 19:37] bil-elmoussaoui commented on #102
This fix changed the color of the normal theme too :/

[2017-05-24 19:39] bil-elmoussaoui commented on #109
Fixed that on my local machine! A PR is coming
![screenshot from 2017-05-24 21-39-09](https://cloud.githubusercontent.com/assets/7660997/26422277/78f3c670-40c9-11e7-8c72-fec9489959e9.png)

[2017-05-24 19:56] acdcpow commented on #114
same here!
ramme 3.1.0
windows 10 1703
![capture d ecran 2](https://cloud.githubusercontent.com/assets/21224020/26422822/3f64d792-40c3-11e7-9730-2e1b67f09b19.png)

[2017-05-24 20:06] anatolinicolae commented on #114
I'm pretty sure this happens when you try to post a new picture then get back to home. Try this!

[2017-05-24 20:25] bil-elmoussaoui commented on #114
Nop couldn't reproduce it :( I think it's due to the minWidth of the window! I will set it few pixels more and push it and we will see if this is still happening.

[2017-05-24 23:50] jeffgoh commented on #115
Just downloaded the Linux version - will see if I can help in any meaningful way.

[2017-05-25 08:18] terkelg commented on #115
Thanks folks. Nice to have some maintainers on board!

[2017-05-25 08:50] bil-elmoussaoui commented on #109
This is now fixed

[2017-05-25 08:50] bil-elmoussaoui commented on #102
Already fixed on master

[2017-05-25 08:54] #109 closed

[2017-05-25 08:55] #102 closed

[2017-05-25 10:07] mehkera opened #121 "upload feature and 32bit version ?"
Hi,
l love your app , i would love to have/test the upload feature but i'am running linux on a 32bit pc ,all latest versions where on 64bits !

So i'am very interested in 32bits deb version for linux ?

Thanks for your work.

[2017-05-25 11:36] bil-elmoussaoui commented on #100
It's seems that electron's nativeImage returns an empty object when we use nativeImage.createFromPath. There's an open issue about that.
Also, the tray icons are not perfect for now (the icon sizes shouldn't be 18x18)
I will see how i can workaround this

[2017-05-25 11:37] bil-elmoussaoui commented on #121
We do use electron-builder. I will see if it's possible to add 32bits packages too!

[2017-05-25 12:36] yimankaing commented on #114
This might be our screen resolution. I have only 1366*768.

[2017-05-25 12:37] bil-elmoussaoui commented on #114
@yimankaing I've modified the minWidth to see if things will change; i will try later using my laptop!

[2017-05-25 12:38] yimankaing commented on #114
Thanks so much! I love this app!

[2017-05-25 12:41] bil-elmoussaoui commented on #104
It's due that we were pointing to an icon that doesn't exists on a folder that doesn't exists neither; I've pushed a PR to fix it

[2017-05-25 17:44] bil-elmoussaoui commented on #114
@yimankaing Tried this on my laptop and seems to work fine. I will try to push a new release soon and see if things are still the same

[2017-05-25 17:45] bil-elmoussaoui commented on #115
I'm going to close this, as i'm going to take care of this, any help is more than welcome!

[2017-05-25 17:45] #115 closed

[2017-05-25 17:46] bil-elmoussaoui commented on #101
Do you mean that the try icon is not shown at all or it's just invisible?

[2017-05-25 18:12] Caver1 commented on #101
There is no tray icon.

[2017-05-25 18:16] bil-elmoussaoui commented on #101
Do you have libappindicator installed on your system?

[2017-05-25 18:29] Caver1 commented on #101
Yes libappindicator1 and libappindicator3-1

[2017-05-25 18:38] bil-elmoussaoui commented on #101
what if you run the application from terminal using `env XDG_CURRENT_DESKTOP=Unity ramme`?

[2017-05-25 18:39] bil-elmoussaoui commented on #82
Fixed on master, if your tray icons doesn't show up there's an open issue for that

[2017-05-25 18:39] #82 closed

[2017-05-25 18:39] bil-elmoussaoui commented on #104
Fixed on master

[2017-05-25 18:39] #104 closed

[2017-05-25 18:40] bil-elmoussaoui commented on #105
I'm fixing every possible issue right now :+1:

[2017-05-25 18:40] #105 closed

[2017-05-25 18:43] Caver1 commented on #101
I ran  env XDG_CURRENT_DESKTOP=Unity ramme. Ramme opens still no tray icon.

[2017-05-25 18:45] bil-elmoussaoui commented on #101
Do you use any Electron apps with tray icons working correctly ? if so can you tell me which ones ?
As we do follow the documentation of how to create a tray icon, but i doesn't work on all Linux distro

[2017-05-25 21:08] d0od88 commented on #114
Issue persists in latest version running on Ubuntu 17.04. I tried by the installer and the AppImage.

![screenshot from 2017-05-25 22-04-11](https://cloud.githubusercontent.com/assets/869982/26470705/9296c71c-4196-11e7-983f-774994027a77.png)

[2017-05-25 21:11] bil-elmoussaoui commented on #114
@d0od88 I can fix it if i can reproduce it, but i tried on both of my screens and it works without any issue. Maybe because i was running the dev version. I will try the AppImage right now!

[2017-05-25 21:15] d0od88 commented on #119
PNG uploads do work, but for some reason the file picker doesn't allow you to 'see' them. It only shows .jpg and .jpeg files.

[2017-05-25 21:17] bil-elmoussaoui commented on #119
Can you do that from the web site? If so, can you reopen a new issue about that and i will see how i can fix it :)

[2017-05-26 04:11] acdcpow commented on #114
[Ramme 3.2.0] Same thing for windows 10.
![capture d ecran 3](https://cloud.githubusercontent.com/assets/21224020/26480426/a70b0c68-41d1-11e7-93e1-92026d87d253.png)

[2017-05-26 05:18] alpvonkri commented on #82
This Issue was always about the tray icon, and the fact that If you close Ramme main window you will need to kill the app as there is no icon.
Issue still present in version 3.2.0
Using: Plasma 5.9.95, Frameworks 5.34.0, QT 5.7.1

[2017-05-26 05:25] alpvonkri commented on #101
I reported the same thing since Issue #82
The issue was closed, but still not solved, no tray icon at all.

[2017-05-26 05:28] alpvonkri commented on #121
Some of us would also like an RPM package, but additionally to that, most modern Linux distributions have dropped 32bit architecture, so in medium and long therm it will become obsolete.

[2017-05-26 06:34] bil-elmoussaoui commented on #101
@alpvonkri it's not the same issue. Your issue has been fixed, if there's something else please open a new issue. The tray icon should work now on Linux if not, it's electron's issue...

[2017-05-26 06:46] bil-elmoussaoui commented on #121
I will add an RPM package too =)

[2017-05-26 13:56] alpvonkri commented on #101
@bil-elmoussaoui It is the same issue started in #82  with the app being unable to run because an error with the tray icon, and when they fixed the unability to run, it never showed the tray icon (still present in 3.2.0), but whatever, I do not plan to argue about it, and if it's an electron issue, it's weird that version 2.3.0 does show the tray icon (I've been stuck in that version since then)

[2017-05-26 14:02] bil-elmoussaoui commented on #101
Well, the 2.3.0 doesn't use the same electron versions as 3.2.0. We use the latest version. But for some reasons whenever we create an image it's return an empty object on Linux. But don't worry about it, i will do my best to fix it

[2017-05-26 20:57] truckerboy commented on #82
Just to be clear, tray icon is still not visible on Gnome tray but if I right click on the approximate location where the icon is "supposed to be located" (you have to do some guesswork where it could be on the Gnome tray), I get toggle/quit etc options. The issue has been a regression since version 2.3.0 (last version where the tray icon was visible) and has stayed that way through the current re

[2017-05-26 21:00] bil-elmoussaoui commented on #82
It's not the same issue @truckerboy. The issue here is that the app doesn't run at all, there's an open issue for invisible tray icons.
The invisible tray icon is an issue on electron, the old version 2.3.0 works just fine because Ramme used to use an old version of Electron and now we are using the latest version of it;
i'm aware of that, and i'm going to do my best to fix it

[2017-05-26 21:04] truckerboy commented on #82
agreed, but all comments on this thread since 17-Jan-2017 have been about the missing tray icon. Might make sense to move comments to a new thread or merge if it already exists.

[2017-05-26 21:06] bil-elmoussaoui commented on #82
Well, comments != issue. if you read the error message on the screenshot, you will see that there was a missing image.
Anyway;, I will check with other electron apps and older versions of electron and figure out a solution that will make everyone satisfied!

[2017-05-26 21:37] bil-elmoussaoui commented on #114
@d0od88 @anatolinicolae Just pushed a fix on master. As i can't reproduce the issue, would like to try a package if i build that for you? if so, can you tell me which distro you're using

[2017-05-26 22:10] bil-elmoussaoui commented on #100
Fixed that on master!

[2017-05-26 22:10] anatolinicolae commented on #114
Yeah, I had the same issue and I guess I figured it out. Let us now if v3.2.1 (coming in few hours) fixed it or not!

[2017-05-27 03:00] alpvonkri commented on #101
@bil-elmoussaoui We do REALLY appreciate your and everyone's work, keep it up.

[2017-05-27 09:54] bil-elmoussaoui commented on #121
@alpvonkri RPM package is now on master

[2017-05-27 09:55] bil-elmoussaoui commented on #100
Can you reproduce this issue with the latest version?

[2017-05-27 09:55] bil-elmoussaoui commented on #101
Can you reproduce this issue with the new version?

[2017-05-27 12:02] Caver1 commented on #101
Just realized that there was a new version, thanks.
Will try it and let you know.

[2017-05-27 12:34] Caver1 commented on #101
Yes. With 3.2.1 I now have a tray icon.
Thanks

[2017-05-27 12:37] bil-elmoussaoui commented on #101
Perfect :+1: Please report any other issues that you might have
thanks for testing

[2017-05-27 12:37] #101 closed

[2017-05-27 12:56] acdcpow commented on #114
I didn't know where to put this,
I got an error with 3.2.1  [WINDOWS10]
**it says "** ERROR : A JavaScript error occured in the main process
  uncaucht exception:
  typeError: Error processing argument at index 0, conversion failure from
    at Object.exports.createtray
    at App. <anonymous>
    at emitTwo (events.js:111:20)
    at App.emit (events.js.191:7) **"**

[2017-05-27 12:57] bil-elmoussaoui commented on #114
@acdcpow How did you get this error? when you start the application?

[2017-05-27 12:58] anatolinicolae commented on #114
@acdcpow It looks like a tray issue so to be sure please open a new issue regarding this.

[2017-05-27 13:02] acdcpow opened #124 "ERROR while launching the app"
ramme 3.2.1
WINDOWS10

ERROR : A JavaScript error occured in the main process
uncaucht exception:
typeError: Error processing argument at index 0, conversion failure from
at Object.exports.createtray
at App.
at emitTwo (events.js:111:20)
at App.emit (events.js.191:7)

[2017-05-27 13:03] acdcpow commented on #114
@anatolinicolae Done,
@bil-elmoussaoui Yes!

[2017-05-27 17:47] truckerboy commented on #100
I can confirm this issue appears fixed in version 3.2.1 on Ubuntu 16.10 64 bit. Thanks!

[2017-05-27 17:50] theel0ja commented on #100
![image](https://cloud.githubusercontent.com/assets/5832930/26523331/1e6358ae-431e-11e7-9d90-de1ad46f99b2.png)

It's visible :)

[2017-05-27 17:51] bil-elmoussaoui commented on #100
Perfect! We will try to make it look better on the next versions :)

[2017-05-27 17:51] #100 closed

[2017-05-27 17:51] truckerboy opened #125 "Huge gap between sidebar and feed"
In version 3.2.1, I see a huge vertical gap between the sidebar and feed. Screenshot is attached. The gap should be minimal.
![screenshot-20170527134828-551x508](https://cloud.githubusercontent.com/assets/23089829/26523335/94136e30-42e3-11e7-9c18-c42981e3d055.png)

[2017-05-27 17:52] bil-elmoussaoui commented on #125
There was an attempt to fix this #114 but it seems that people who didn't have this issue have this one instead now

[2017-05-27 17:52] anatolinicolae commented on #125
Fix #114, break #114. 😄

[2017-05-27 17:58] truckerboy opened #126 "Text on top of first post (name of poster) gets cut off in default window"
The text on top of first post (name of poster of first post in feed) gets cut off in default window. It becomes visible only on maximizing Ramme. Changing window size while NOT maximized, does not fix the problem.
![screenshot-20170527135545-548x150](https://cloud.githubusercontent.com/assets/23089829/26523385/8435c142-42e4-11e7-92bf-b2e831850281.png)

[2017-05-27 17:59] bil-elmoussaoui commented on #126
You shouldn't be able to maximize  the window :(

[2017-05-27 18:02] truckerboy opened #127 "Gap between Sidebar and Feed does not change color whenswitching between dark or light mode"
The big gap between Sidebar and Feed does not switch color instantly when changing mode. It take a second and then auto-refreshes and then manages to change its color to the selected theme.
Same result when clicking on the menu or using the keyboard shortcut (ctrl+d) to switch theme.

[2017-05-27 18:06] bil-elmoussaoui commented on #127
I've added the auto refresh because i couldn't manage to get the correct CSS rule to fix it.
@anatolinicolae Can you give it a try?

[2017-05-27 19:00] anatolinicolae commented on #124
Fixed in v3.2.2.

[2017-05-27 19:00] #124 closed

[2017-05-27 20:05] alpvonkri opened #128 "RPM package"
It's great that an RPM package was added, sadly it won't install (in some unattended scenarios) because the libnotify and libappindicator dependencies are not provided by that names in all distributions, like for example, in openSUSE they are named libnotify4 and libappindicator1, so, maybe building the package with no dependencies stated or they being in the Suggests or Recommends sections.
For n

[2017-05-27 20:07] bil-elmoussaoui commented on #128
We don't set any dependency from our side...

[2017-05-27 20:12] anatolinicolae commented on #128
Give it a try mate, the app itself will definitely work. The only thing you'll miss will be the tray icon. Let us know if it works or not :)

[2017-05-27 20:22] alpvonkri commented on #128
Don't know how you're building the RPM, but generally there must be an SPEC file, in that file you specify dependencies and so, like for example my SPEC to build the RAMME RPM contains this (for openSUSE)

Requires, are the dependencies needed to run it (this were based in the DEB package), AutoReqProv, specifies if the rpm building process will auto detect dependencies or not, I set it in NO as I

[2017-05-27 20:32] bil-elmoussaoui commented on #128
Do you have any idea of the equivalent of those packages on Fedora?

[2017-05-27 20:47] alpvonkri commented on #128
@bil-elmoussaoui I don't, but must be something similar, don't have a Fedora VM to verify it now.

[2017-05-27 20:51] bil-elmoussaoui commented on #128
I will take a look and see if i can fix it. As i don't use Fedora or anything like that (Arch forever guy)

[2017-05-27 20:52] alpvonkri commented on #128
By the way, 3.2.2 works with tray icon, the only thing is that when opening the app always show a tooltip in the Home button.
![screenshot_20170527_155019](https://cloud.githubusercontent.com/assets/104341/26524301/6885be38-42f4-11e7-9259-1a7bcc7c0361.png)

[2017-05-27 20:56] alpvonkri commented on #128
@bil-elmoussaoui if the RPM doesn't contain preset dependencies, it will work in every distribution, maybe only specify in the README that you need to verify for them to be installed to use Ramme.

[2017-05-27 21:40] alpvonkri commented on #128
By the way, it could be helpful to include the app version somewhere in it, as it is needed to know it and check if you have the latest one.

[2017-05-28 10:08] S0rryMyBad opened #129 "No image extensions filtered on Explorer Windows"
There is no filtered images on windows explorer when i entering sub directory

OS: Windows 10 x64
Ramme Latest Version

![screenshot 69](https://cloud.githubusercontent.com/assets/24543191/26527922/3bdbfd64-43c8-11e7-8c2a-dea077a87778.png)

[2017-05-28 10:30] fleamour commented on #126
I want full screen!?!

[2017-05-28 11:25] anatolinicolae commented on #126
@fleamour say again, you don't seem pretty sure about that! 🤣

[2017-05-28 12:47] fleamour commented on #126
Well deb installs Linux Mint 18.1 & fullsize maximise works. Tumbleweed KDE needs to be set through right clicking on window list then checking fullscreen .

[2017-05-28 17:25] fklement opened #130 "Tooltip 'Post a photo' - wrong position at startup"
I think the tooltip 'Post a photo' is wrong positioned.
Current position makes no sense for me.
Shouln't it be positioned at the red box?
![drawing](https://cloud.githubusercontent.com/assets/7302097/26530745/30d6fc58-43db-11e7-85a8-d95ca78df33e.jpeg)
[code]

[2017-05-28 17:32] d0od88 commented on #114
F-F-F-fixed!

![screenshot from 2017-05-28 18-20-16](https://cloud.githubusercontent.com/assets/869982/26530805/0b31b698-43d4-11e7-9f91-d228ddd27d3b.png)

[2017-05-28 17:33] #114 closed

[2017-05-29 10:01] fleamour opened #131 "App Image Not Integrating With KDE"
openSUSE Tumbleweed KDE App Image not integrate with system. Not showing in search or being indexed among programs. Have to launch from executible each time.

[2017-05-29 10:02] fleamour opened #132 "App Image Not Toggle Full screen"
KDE openSUSE Tumbleweed App Image not toggle full screen.

[2017-05-29 12:14] bil-elmoussaoui commented on #131
Normally when you open a AppImage application it should ask you either you want to create a desktop file or not.
Anyway, we're just using electron-builder to create Appimages which seems to work just fine for me...If Appimages doesn't work correctly on your system then it's an upstream bug for AppImage devs.
Can't do anything about it. Closing

[2017-05-29 12:14] #131 closed

[2017-05-29 12:17] bil-elmoussaoui commented on #132
@anatolinicolae @terkelg Should we keep it this way or not ? as in some linux distros, using a resizable: false for the BrowserWindow object doesn't change anything.
What we can use instead is maybe, forcing the frame to false on linux & windows and add a beautiful close button on the window

[2017-05-29 12:20] bil-elmoussaoui commented on #128
It will take some time to get this fixed as i'm super busy with finals, but i will get it fixed for the next version (i hope)

[2017-05-29 15:44] EposVox opened #133 "UI Alignment Borked on Windows"
![8488460b9cd348aea14055e840889341 1](https://cloud.githubusercontent.com/assets/18689681/26555640/13f24154-4464-11e7-8222-e5fbb8ec5f97.png)

UHD & 1440p Monitor w/ 125% scaling. Feed and Home button get cut off by Instagram logo bar, and images cut off on the right.
I also have a 1080p monitor w/ 100% scaling, but moving the Ramme window to that monitor and resizing does not fix.

Windows 10 64-b

[2017-05-29 15:47] bil-elmoussaoui commented on #133
Duplicate of #125

[2017-05-29 19:11] terkelg commented on #132
Sounds good to me 👍

[2017-05-30 03:44] ed4jonson opened #134 "Looks bad on ubuntu 17.04"
This is how app looks like on ubuntu 17.04
https://www.dropbox.com/s/1kptfi4y7igh9g7/Screenshot%20from%202017-05-30%2006-43-30.png?dl=0
            -

            Ramme 3.2.2
            Electron 1.7.2
            linux x64 4.10.0-21-generic

[2017-05-30 03:45] ed4jonson opened #135 "Check a screenshot"
https://www.dropbox.com/s/1kptfi4y7igh9g7/Screenshot%20from%202017-05-30%2006-43-30.png?dl=0
            -

            Ramme 3.2.2
            Electron 1.7.2
            linux x64 4.10.0-21-generic

[2017-05-30 08:23] ThomasDavidDev commented on #134
That's a bit of short description I think.

But i can confirm there are also a few bugs in Ubuntu 16.04. I can only re-size the screen when I close it and then reopen with the toggle button in the status bar. There's also something wrong with the padding when the apps open's in normal resolution.

Thomas

[2017-05-30 11:42] tchncs opened #136 "no upload button on latest archlinux release"
Hi, i just installed the latest `.pacman` package.
There is no photoupload button to see.

Currently downloading the AUR package which is older... .

Edit: same with the AUR package.

[2017-05-30 14:37] survivor303 commented on #134
yep, pictures are little bit too much on right edge and it not respect black/dark theme mode on gnome. but the app itself is great :)

[2017-05-30 15:18] davidcortesortuno commented on #134
It also looks bad as the picture above, in Arch Linux with the `.pacman` package in the `3.2.2` version

[2017-05-30 17:36] alexsalex commented on #135
The same thing....

MacOS 10.12.5

[2017-05-30 17:37] alexsalex commented on #134
MacOS 10.12.5 same things... looks ugly...

[2017-05-30 18:13] alexsalex commented on #125
MacOS same issue

[2017-05-30 21:20] bil-elmoussaoui commented on #135
Duplicate of #125

[2017-05-30 21:20] #135 closed

[2017-05-30 21:20] bil-elmoussaoui commented on #134
Duplicate of #125

[2017-05-30 21:20] #134 closed

[2017-05-30 21:21] bil-elmoussaoui commented on #136
When you use the instagram website, do you have an upload button?

[2017-05-30 21:21] #133 closed

[2017-05-30 21:23] bil-elmoussaoui commented on #132
This by design, we don't want the user to have a full screen window for seeing his feed on instagram; But we will likely implement a zoom on click feature (in the future)

[2017-05-30 21:23] #132 closed

[2017-05-31 09:16] fabiocaccamo commented on #98
I think that this issue should not be closed.

[2017-05-31 12:21] z3r0c00l-2k opened #138 "Layout Issue with the header"
The header is covering on every screen. please fix that isuue

[2017-05-31 12:22] z3r0c00l-2k opened #139 "Layout Issue with the header"
The header is covering on every screen. please fix that issue

[2017-05-31 12:50] bil-elmoussaoui commented on #138
Duplicate of #126. Please write more detailed issues next time, and make sure it's not a duplicate of an already reported one

[2017-05-31 12:50] #138 closed

[2017-05-31 12:51] bil-elmoussaoui commented on #139
Duplicate of #126. Please write more detailed issues next time, and make sure it's not a duplicate of an already reported one

[2017-05-31 12:51] #139 closed

[2017-05-31 12:53] bil-elmoussaoui commented on #98
@fabiocaccamo the Ramme application is a wrapper for the website with some + functionalities. As Instagram doesn't provide a way for accessing the DM messages we can't do anything about it. So this is issue was closed; once instagram implements that you will get it in time :+1:

[2017-05-31 19:55] Jkings777 opened #140 "ubuntu mate--- look at this gif animated."
[https://media.giphy.com/media/3ohzdK31uMYdVhpGNi/giphy.gif](url)

[https://media.giphy.com/media/xUPGcylf5xMa7sbbMI/giphy.gif](url)

i don't know how to explain, but as you can see this gif animated.

[2017-05-31 19:57] bil-elmoussaoui commented on #140
Already reported and will be fixed on the next release .
See #125

[2017-05-31 19:57] #140 closed

[2017-06-01 05:41] DroWnThePoor opened #141 "Crashes system on Elementary OS 0.4-Loki"
Very strange, but it crashes my system when I run it by clicking on the icon.
However, when running it by typing ramme into terminal it launches as expected.

[2017-06-01 05:49] raptor59 opened #142 "Images zooming"
Hello, would be great to be able to zoom into the image, right now it is showing just a medium version while on the web i still can get much detailed and bigger one. Thanks

[2017-06-01 08:42] v77v opened #143 "white blank space between feed and sidebar on ubuntu"
on discovery, the main feed and even the login screen there's a big white space on the left hand side.

i uploaded to imgur a image of it:
![issue](http://i.imgur.com/kx5tpnkl.png)

i'm using xfce on ubuntu 16.04

[2017-06-01 08:55] VoOoLoX commented on #143
Duplicate of #125

[2017-06-01 11:51] #143 closed

[2017-06-01 21:48] Cursewords opened #144 "Linux issue with resizing and properly centering the feed/etc."
On Linux (Xubuntu fresh install) the app doesn't properly display. Feed window and pictures are pushed into the right which results in truncating about 20% of the window elements.

[2017-06-02 06:14] Sreelal-c opened #145 "Provide a Snap Package"
Providing a snap package will make it easier to deliver and update this app

[2017-06-02 13:51] Caver1 opened #146 "Your Story"
Are you planning on implementing Instagram's Your Story sometime?

[2017-06-03 04:31] pedrofleck commented on #144
I confirm to have this issue too, and the upper bar also cuts a little the feed.

[2017-06-03 07:24] tushgup commented on #126
Yes, just noticed this error.

[2017-06-03 09:35] bil-elmoussaoui commented on #144
Duplicate of #125

[2017-06-03 09:35] #144 closed

[2017-06-03 22:00] lorenzadam opened #147 "no upload button on fedora 25"
Hello, i just installed the latest .rpm package.
but no photoupload button there.

[2017-06-05 03:03] bil-elmoussaoui commented on #147
Are you able to see the upload button if you use the instagram website?

[2017-06-05 03:05] bil-elmoussaoui commented on #141
Well, i can't do anything about it.. As the desktop file all it does is executing the same command...It must be something else broken on your system that crash your system.
As i'm using elementary OS on a virtual machine and everything works fine for me. If you can still reproduce that on a freshly installed elementary system reopen this
Closing

[2017-06-05 03:05] #141 closed

[2017-06-05 03:07] bil-elmoussaoui commented on #145
Well, it's just overcomplicating stuff with all the Canonical procedure in order to update the snap package using their infrastructure ....
i will give it a try (already did but i've failed)

[2017-06-05 03:08] bil-elmoussaoui commented on #146
Someday yeah! But we are focusing on fixing all the issues first and we will see what happens next!

[2017-06-07 04:55] harchus opened #148 "UI Alignment problem?"
Using the latest version of the app on Windows 10, the timeline and the profile page get cut off, you can't se the images properly since photos are not centered, as you can see on my attachment the home icon as my username and profile picture are cut off. :(

Thank you so much for creating such a wonderful tool to navigate our Instagram accounts. <3

![ramme](https://user-images.githubusercontent.

[2017-06-07 11:45] adriorosa commented on #148
Same problem in Mac OS version
![captura de pantalla 2017-06-07 a las 13 45 06](https://user-images.githubusercontent.com/26595835/26876669-9a074a4e-4b87-11e7-885e-4595e7212266.png)

[2017-06-07 11:48] bil-elmoussaoui commented on #148
Duplicate of #125

[2017-06-07 11:48] #148 closed

[2017-06-07 14:44] bil-elmoussaoui commented on #125
Fixed

[2017-06-07 14:44] #125 closed

[2017-06-07 14:44] bil-elmoussaoui commented on #126
Fixed

[2017-06-07 14:44] #126 closed

[2017-06-13 11:53] harpreetsb opened #149 "multiple image upload"
please provide ability to upload multiple images.

[2017-06-14 17:31] FalseAscension opened #150 "Profile fails to update after creating or deleting post"
The tile is pretty much self explanatory.
I have the latest version of Ramme installed (updated today), however when I upload an image, caption it, etc, the post is uploaded fine, however it does not appear on my profile when i look at it with Ramme.

[2017-06-15 00:31] bil-elmoussaoui commented on #149
This a limitation from Instagram. We can't do anything about it :(

[2017-06-15 00:31] #149 closed

[2017-06-15 00:32] bil-elmoussaoui commented on #147
Closing as this must be an instagram issue (Maybe the upload button from Instagram web app hasn't been deployed world wide)

[2017-06-15 00:32] #147 closed

[2017-06-15 00:32] bil-elmoussaoui commented on #150
@anatolinicolae What do you think about this issue? We might need to add a refresh of the page after adding a new image

[2017-06-15 00:34] bil-elmoussaoui commented on #136
As I've answered on another issue like this one. Instagram web app didn't deploy this feature worldwide yet.

[2017-06-15 00:34] #136 closed

[2017-06-15 05:58] nouh01 opened #151 "A JavaScript error occurred in the main process"
Uncaught Exception:
TypeError: Cannot read property 'name' of undefined
    at getConf (/opt/Ramme/resources/app.asar/node_modules/first-run/index.js:13:73)
    at firstRun (/opt/Ramme/resources/app.asar/node_modules/first-run/index.js:25:13)
    at Object.exports.init (/opt/Ramme/resources/app.asar/dist/main/analytics.js:1:388)
    at App.<anonymous> (/opt/Ramme/resources/app.asar/dist/main/index

[2017-06-16 17:20] knightazura opened #152 "Side margin issue and toolbar overlaps"
There additional margin (or padding?) on left and toolbar overlaps the body on all layouts.
Sorry for my bad english .

![screen shot 2017-06-17 at 12 12 30 am](https://user-images.githubusercontent.com/7548569/27237051-c4c36dd2-52f1-11e7-8837-8e621609ed7e.png)

Ramme 3.2.2
Electron 1.7.2
darwin x64 16.6.0
macOS 10.12.5

[2017-06-16 18:09] bil-elmoussaoui commented on #152
already fixed on master

[2017-06-16 18:09] #152 closed

[2017-06-20 00:10] lorenzadam commented on #147
Yes i dont see the upload button when using instagram website

[2017-06-20 08:23] multispeed opened #153 "Main feed not refreshing"
The main feed/storyline is not refreshing in Ramme 3.2.2

![image](https://user-images.githubusercontent.com/22557639/27323647-8e5aa112-55a2-11e7-9330-92f68169371c.png)

[2017-06-20 17:35] Archakov06 opened #154 "Problems with the interface"
The application is just wonderful! However, the application interface for some reason curve

MacBook Pro (Retina, 13-inch, Mid 2014) | macOS Siera 10.12.3 (16D32)

![](http://savepic.net/9414471.png)

Such in all sections

[2017-06-20 17:37] bil-elmoussaoui commented on #154
Already fixed on master. please use the search before reporting any issue. it was reported like 10 times...

[2017-06-20 17:38] Archakov06 commented on #154
Good. Excuse me.

[2017-06-20 17:45] #154 closed

[2017-06-21 02:37] mmarquardt opened #155 "Home Header Not Fully Displayed"
On Windows 10 my home page header, photo and username and statistics, information is/are not fully displayed and is/are cut off at the top.  Not too well said, but hope the message is clear.  Thanks.

[2017-06-21 03:40] #155 closed

[2017-06-21 03:41] bil-elmoussaoui commented on #155
This issue was reported like 10 times. Please guys, use the search future on Github and search for issues before reporting the same thing again and again. It's fixed on master (next release)

[2017-06-21 11:22] KHellkvist opened #156 "Layout issue in main view"
I can't see the things at the very top of the feed/profile I'm watching.
And everything seems to be shifted to the right.
In both images I'm scrolled to the top.
Running on MacOS Sierra 10.12.5

Main feed:
![ramme-feed](https://user-images.githubusercontent.com/4183013/27381835-a097cff2-5684-11e7-9bc6-43975b35f071.png)

Profile:
![ramme-profile](https://user-images.githubusercontent.com/4183013/27

[2017-06-21 12:01] bil-elmoussaoui commented on #156
Already fixed on master. please use the search functionality next time.

[2017-06-21 12:01] #156 closed

[2017-06-21 13:49] KHellkvist commented on #156
Cheers!
Might wan't to not close the issue until fixed in release for discoverability. Or have reasonable naming "rules" of PR's so that one can find the fix there.

Anyhow, sweet product! Nice that it is open source, maybe some contribution guidelines could help so you don't have to waste time on duplicate issues and the such!

[2017-06-21 19:18] damenleeturks commented on #156
Agree with @KHellkvist. It's still showing this for me (understandably), but I had to dig (a bit) to find this issue.

[2017-06-22 15:33] superrdude opened #157 "screen tearing"
-

            Ramme 2.1.0
            Electron 1.3.4
            linux x64 4.11.0-041100-generic

[2017-06-23 02:26] GoodThiefGolgotha opened #158 "Gap between menu bar and feed"
There's an annoying gap between the menu bar and the feed. How can I fix this?

![screenshot from 2017-06-22 22-25-31](https://user-images.githubusercontent.com/11671463/27464140-bd2c2e0e-5799-11e7-8397-0d3b37b521fe.png)

            -

            Ramme 3.2.2
            Electron 1.7.2
            linux x64 4.10.0-23-generic

[2017-06-23 02:37] #158 closed

[2017-06-23 02:37] #157 closed

[2017-06-23 02:37] bil-elmoussaoui commented on #157
Invalid

[2017-06-23 20:37] AkSachin opened #159 "blocking of feed by Instagram text"
On macOS, in home tab the Instagram feed is getting blocked by "Instagram" text.
![screen shot 2017-06-24 at 1 56 38 am](https://user-images.githubusercontent.com/11594075/27499336-e8934b80-5880-11e7-9bd2-c5f91d2b66ce.png)

This is the same case with search tab, some portion of the top feed is covered with search textbox and in profile tab, some portion is covered by text "Profile".
![screen shot

[2017-06-24 03:55] zeitan commented on #153
Same here, failing in linux (elementary os loki)

[2017-06-24 05:14] troe commented on #159
The same and on the Linux Kubuntu 16.04, version Ramme 3.2.2

![ramme 2](https://user-images.githubusercontent.com/1324558/27505922-40331526-58ce-11e7-909d-05de586fe124.png)

[2017-06-28 06:32] anatolinicolae commented on #150
Check current URL and force `cmd+R/ctrl+R` on change I guess. Have to look again in the app structure and I'll let you know 😉

[2017-06-28 21:40] rahmatdani opened #160 "i use ramme 3 2 2, plis fix this problem in Dark circles"
![bug1](https://user-images.githubusercontent.com/29314308/27661554-453e28e0-5c8d-11e7-8b7f-3915b18b33f4.png)

[2017-06-28 21:57] #160 closed

[2017-06-28 21:57] bil-elmoussaoui commented on #160
Duplicate

[2017-06-29 10:25] rahmatdani commented on #160
plis solved

[2017-06-30 10:20] bil-elmoussaoui commented on #160
Already fixed on master

[2017-06-30 10:20] bil-elmoussaoui commented on #159
Already fixed on master. I will fix some other issues and create a new release soon :)

[2017-06-30 10:20] #159 closed

[2017-07-01 11:22] YodaOz commented on #153
same. manjaro kde

[2017-07-01 14:38] mrfizzl3 opened #161 "Direct Messaging?"
I use Ramme as an alternative to the Instagram Windows app that I used a lot for personal messaging. Is there any plans for putting the Instagram Direct feature in Ramme? Thanks!

[2017-07-02 02:10] compuguy commented on #151
Having a similar issue as well:

[2017-07-05 07:59] rahmatdani commented on #160
I do not understand, What should I do for normal apps?
i use google translate

[2017-07-06 13:02] sebastiansondergaard opened #162 "Window is too small to fit feed"
The window is too small to show the feed as you can see here: https://puu.sh/wD06l/c12014aeff.png

Would be nice if that could be fixed ;-)

[2017-07-09 20:40] vladcraft commented on #162
I confirm. Too such problem. Last kubuntu.

[2017-07-09 20:48] vladcraft opened #163 "Plan posts"
The program is able to post. Is it possible to increase functionality, plan posts, like in "planoly" or in "buffer". So that you can plan your posts and sort not yet published.

[2017-07-10 04:24] denisinla commented on #162
@vladcraft @sebastiansondergaard downgraded to 3.2.0(Issue started in 3.2.1) fixed the issue for me. Hopefully 3.2.3 will have this issue fixed.

[2017-07-20 21:59] sonejizrelax opened #164 "Gnome-shell, the top part of ramme is hidden by window bar / title bar"
![image](https://user-images.githubusercontent.com/12625848/28440605-dd6ce97c-6d9e-11e7-823f-135049037596.png)
as seen here, i cannot see the user. This is particularly annoying in the activity tab.

Any help would be appreciated despite the fact i know this is sort of not a ramme bug

[2017-07-22 16:40] bil-elmoussaoui commented on #164
This is a duplicate and already fixed on master. I've just released a new version right now.

[2017-07-22 16:40] #164 closed

[2017-07-22 16:40] bil-elmoussaoui commented on #163
What do you mean by that?

[2017-07-22 16:40] bil-elmoussaoui commented on #162
This is a duplicate and already fixed on master. I've just released a new version right now.

[2017-07-22 16:40] #162 closed

[2017-07-22 16:42] anatolinicolae commented on #163
@bil-elmoussaoui I think he's talking about scheduling posts' date and time.
@vladcraft No, this is not possible since this is a web wrapper and we're not using any private API integration to post.

[2017-07-22 16:42] #163 closed

[2017-07-23 06:28] vladcraft opened #165 "Add emoji support."
Lacks both the display and writing emoji when commenting.

The last kubuntu.

[2017-07-23 13:52] Angelk90 opened #166 "Side menu on windows problem version 3.2.3 .exe"
On windows, the side menu does not work properly.
See attached picture:

![eletcotod](https://user-images.githubusercontent.com/20476002/28499808-c41d21a4-6fbe-11e7-86e1-acdf27b6d25d.png)

Windows 8.1

[2017-07-23 14:02] Angelk90 opened #167 "windows problem version 3.2.3"
I downloaded the package: https://github.com/terkelg/ramme/archive/v3.2.3.zip
I installed the components: npm install
On windows, the side menu does not work properly, you can not see it.
The posts, they look strangely.
See attached picture:

![eletcotod](https://user-images.githubusercontent.com/20476002/28499872-c9ed5f3a-6fbf-11e7-80ca-fa27187fa77f.png)

Windows 8.1

[2017-07-23 14:13] Angelk90 opened #168 "Dark Theme probleam version 3.2.3 .exe"
Problem with the change of theme:
See attached picture, I have redesigned the problems.

![eletcotod](https://user-images.githubusercontent.com/20476002/28499986-9400b334-6fc1-11e7-9c7a-9d800658cc8a.png)

Windows  8.1

[2017-07-23 14:25] anatolinicolae commented on #167
Why didn't you download the .exe file? No need to install modules every time, but dunno, choices.
Regarding the issue you're having, can you try clearing the cache? Right click the tray icon and click Clear cache, then let us know!

[2017-07-23 14:50] Angelk90 commented on #167
I also downloaded the .exe version, if I had read the other two posts, in which I notice other bugs, you would have understood.
Anyway, I tried to empty the cache but it does not solve anything.
Try it yourself:
If you download the package: https://github.com/terkelg/ramme/archive/v3.2.3.zip
Install components, place a screen, to see what you see.
Let us know.

[2017-07-24 14:49] theel0ja opened #169 "Windows Store release"
Please release this to the Windows Store.
More info in Electron Documentation.

Link: https://electron.atom.io/docs/tutorial/windows-store-guide/

[2017-07-25 16:57] vladcraft commented on #153
main feed refreshing only manual ctrl+R. kde

[2017-07-26 14:07] grande90210 commented on #151
This one happening when another instance of the Ramme already running.

[2017-07-27 08:00] miun173 opened #170 "when log in after log out it doesn't require password, it may troublesome if someone uses my laptops"
when log in after log out it doesn't require password, it may troublesome if someone uses my laptops

[2017-07-28 07:56] sg6 opened #171 "Dark mode: dark elements on dark background, very hard to see"
![image](https://user-images.githubusercontent.com/10222288/28707908-77c9eb60-737a-11e7-9cf3-eaf9271311f1.png)

On dark mode, I cannot see the <3 symbol and the count of the likes.

Minor CSS bug !

[2017-07-28 17:09] drigio commented on #151
Should have an option asking whether i want the app to keep running in background or totally end the process when i exit the instance.

[2017-07-30 17:00] alaminos opened #173 "Unable to choose location"
In the last stage of posting an image, there is the caption box and the "add location" option. Clicking on add location pops this message:

_Enable Location Services
Turn Location Services on to add a location to your post._

Notice that "Enable Location Services" is not clickable and there is no further explanation on how to proceed.

Samsung Laptop
Windows 8.1

[2017-07-31 23:18] StarlordSTRX opened #174 "Window goes blank (white) when prompting to add phone number to account"
I know for a fact that instagram is prompting me for a phone number over the app (and i haven't given them one). When i sign in via Ramme I see the 'Add phone number' page for a millisecond before the whole page goes white. Restarting the app does not solve this issue.

Version 3.2.3 on Windows 10

[2017-08-05 02:16] Madkita commented on #153
@vladcraft
are you using the global menu on KDE?

[2017-08-05 10:26] vladcraft commented on #153
@Madkita Yes.

[2017-08-06 05:22] Madkita commented on #153
ok i am too but when i click on it the shell just restarts
am not neon

[2017-08-06 09:16] Blacksuan19 opened #175 "high cpu usage"
I don't know what is wrong but in KDE neon with plasma 5.10.4 its using more than 100% of the CPU
tell me if you need any type of logs

![screenshot_20170806_171310](https://user-images.githubusercontent.com/10248473/29002000-bae6777c-7aca-11e7-8cf1-6c6d1d196e2e.png)

[2017-08-08 00:41] blndr-tommy1441 opened #176 "Side bar changed - Linux Mint 18.1"
I've got Ramme installed in Linux Mint 18.1 and been using it for a while now with no issues, but today, it changed the position of the sidebar to the top and it doesn't scrolls properly as it now cuts off the top of the posts.

Also it appeared this button that says open in app at the bottom but it doesn't do anything when I click it. I've logged out and back in, closed the app, rebooted the comp

[2017-08-08 17:51] vladcraft commented on #176
on KDE too.

[2017-08-10 05:42] Enzotech2 opened #177 "No 'Log in' button on windows."
No 'Log in' button on windows.

I only see I login for Facebook.

[2017-08-10 19:34] danieldafoe opened #178 "Menu bar is fixed to bottom of view"
I'm not sure if this was changed in a newer version, but the screenshots in the repo still showed the menu being on the left, so I just want to ensure that it being on the bottom for me is the desired behaviour.

I **am** running macOS High Sierra v10.13 Beta 4, so I just figured that was the issue, but please confirm where it should be.

[2017-08-10 21:21] rielinux opened #179 "Only one Problem with options menu, Kali linux 4.9.0-kali4 i386. Everyhing else work fine."
![screenshot](https://user-images.githubusercontent.com/7852302/29192667-64b6464a-7e4c-11e7-8dde-62ff0d925efd.png)

[2017-08-11 09:54] borshpro commented on #176
Same on macOS

[2017-08-11 22:07] ussserrr commented on #178
Same at El Capitan (Air 13). Also Dark theme isn't work for me.
![ramme](https://user-images.githubusercontent.com/20915411/29233568-59b7f08c-7efa-11e7-82a3-52b273f5ff2b.png)
![ramme_dark_theme](https://user-images.githubusercontent.com/20915411/29233569-5a4bd7c0-7efa-11e7-82b1-c118b723eeb1.png)

[2017-08-12 03:17] Dvhinds37 commented on #161
I am having this issue as well. I am running Fedora 26 and am considering using the windows version under wine to see if it will run that way. Anyone on the development side have an idea of a possible solution?  I am wary to use wine as I am having other issues with another app in wine.

Thanks in advance for any advice or suggestions.
D

[2017-08-13 18:17] yarik2720 commented on #178
Confirmed on Windows 8.1

[2017-08-14 15:22] Nodws opened #180 "Ramme_3.2.3_amd64.deb froze the system"
no errors

[2017-08-14 15:22] #180 closed

[2017-08-15 06:12] brandonmcconnell opened #181 "Menu position"
Any way to reposition the menu back to the left side? Its new bottom positioning is just annoying to use on a desktop.

[2017-08-15 06:13] brandonmcconnell opened #182 "Overlapping app controls and UI elements"
The close, minus, and maximize buttons overlap some of the app's UI elements
![image](https://user-images.githubusercontent.com/5913254/29304101-4f0e2e82-815f-11e7-894f-12695724d9b9.png)

[2017-08-16 08:59] laczik opened #183 "Missing GUI components, some keyboard shortcuts don't work, options screen formatting incorrect, window resize does not work"
Issues as described in the title; also see screenshots:
[http://cloud.laczik.org/index.php/s/FUTQJpi36EIqHbd](http://cloud.laczik.org/index.php/s/FUTQJpi36EIqHbd)
[http://cloud.laczik.org/index.php/s/KCZhf6sGtOLbiAa](http://cloud.laczik.org/index.php/s/KCZhf6sGtOLbiAa)

It would be helpful if there were build instructions, especially for those who don't normally use java/javascript so that one cou

[2017-08-16 15:46] blndr-tommy1441 commented on #176
Sorry for the bump...but has anyone figured out a way to fix it?
FYI, I uninstalled it -> rebooted PC -> cleared any rogue temp file and config left behind -> reinstalled Ramme -> Issue Continues

[2017-08-16 17:27] terkelg commented on #176
I'm looking for contributors. I don't have the time to work on Ramme at the moment

[2017-08-17 02:57] octacian opened #184 "Crash: Cannot read property 'name' of undefined at launch"
* Ramme Version: 3.2.3
* Operating System: Ubuntu 17.04
* Installed via `dpkg`

Ramme does not launch and instead throws the following error:
[code]

[2017-08-17 07:55] duncup opened #185 "I see that,WE ARE LOOKING FOR CONTRIBUTORS."
How to join ramme.

[2017-08-17 10:19] bil-elmoussaoui commented on #185
Just send some PR to fix opened issues :+1:

[2017-08-17 10:19] #185 closed

[2017-08-17 10:19] bil-elmoussaoui commented on #165
The display of emojis is must be a missing font on your system.

[2017-08-17 10:20] bil-elmoussaoui commented on #175
I don't think we can do too much about this. As the whole application is just a wrapper for the Instagram website. But we will see if there's something that runs all the time :)

[2017-08-17 10:21] bil-elmoussaoui commented on #178
Guys, don't report duplicate issues please.
https://github.com/terkelg/ramme/issues/176

[2017-08-17 10:21] #178 closed

[2017-08-17 10:21] bil-elmoussaoui commented on #181
Duplicate of https://github.com/terkelg/ramme/issues/176

[2017-08-17 10:21] #181 closed

[2017-08-17 10:22] bil-elmoussaoui commented on #182
Is that on macOS?

[2017-08-17 10:22] bil-elmoussaoui commented on #183
Duplicate of https://github.com/terkelg/ramme/issues/176

[2017-08-17 10:22] #183 closed

[2017-08-17 10:23] bil-elmoussaoui commented on #184
Duplicate of https://github.com/terkelg/ramme/issues/151

[2017-08-17 10:23] #184 closed

[2017-08-17 10:25] bil-elmoussaoui commented on #166
The issue is not anymore a problem as Instagram has changed the position of the sidebar to the bottom so it's another issue to track https://github.com/terkelg/ramme/issues/151

[2017-08-17 10:25] #166 closed

[2017-08-17 10:26] bil-elmoussaoui commented on #167
The sidebar changed it's position on a new update upstream (Instagram) so this issue is no more valid. And we should track & fix this one instead
https://github.com/terkelg/ramme/issues/176

[2017-08-17 10:26] #167 closed

[2017-08-17 10:28] #179 closed

[2017-08-17 10:29] bil-elmoussaoui commented on #173
@anatolinicolae @terkelg There must be something that should be enabled using Electron?

[2017-08-17 10:30] bil-elmoussaoui commented on #170
We must remove the cookies in order to fix this. Need more investigations

[2017-08-17 10:31] bil-elmoussaoui commented on #169
I'm not a Windows user, maybe @terkelg @anatolinicolae or someone else can help?

[2017-08-17 10:32] bil-elmoussaoui commented on #165
But i agree that we should implement an easy way to add emojis

[2017-08-17 10:34] laczik commented on #183
Hi,

I would be happy to take a look and try to fix, but since I do not normally do JavaScript development, instructions - however brief - on how to compile the code would be helpful to get me started.
(I know JavaScript, but not the development environment used for ramme... mvn/gradle/gulp or what is it?)

Thanks,

John

[2017-08-17 10:38] bil-elmoussaoui commented on #183
@laczik mvn & gardle are Java(Android dev tools). Gulp is just an automatization tool for Javascript dev. We use Electron + SASS (for CSS) + some basic JS (NodeJS ofc)
I will add some building steps to the README whenever I can but normally you should just clone the repository and run `npm build && npm start` you will need `nodejs` `npm` that you can find in your package manager (whatever Linux di

[2017-08-17 10:44] laczik commented on #183
Hi Bilal,

OK, thanks - that's all I needed... I will take a look when I get some free time. If I get around to it before you, I will also try to update the README with the building steps.

How was the deb package generated? Is there a deb source package?

Thanks,

John

[2017-08-17 10:48] bil-elmoussaoui commented on #183
The deb package is generated using electron-builder & travis. See here for travis
https://github.com/terkelg/ramme/blob/7d2a5bbe335d60bd39f134c274ba990d6a0e0959/.travis.yml#L26-L27
and here for electron builder
https://github.com/terkelg/ramme/blob/7d2a5bbe335d60bd39f134c274ba990d6a0e0959/package.json#L8
https://github.com/terkelg/ramme/blob/7d2a5bbe335d60bd39f134c274ba990d6a0e0959/gulpfile.babel.

[2017-08-17 17:54] terkelg commented on #173
That's strange. Maybe @anatolinicolae can test on Windows?

[2017-08-18 00:57] blackinitial opened #186 "Layout setting not responsive and the top header blocks the content (Linux Mint 18 )"
<a href="http://i.imgur.com/TTyZJGL.png">
  <img src="http://imgur.com/TTyZJGLl.png" />
</a>
<br>
<a href="http://i.imgur.com/dPHmVtd.png">
  <img src="http://imgur.com/dPHmVtdl.png" />
</a>
<br><br>
The layout setting not responsive in my linux mint 18 (sonya) and the top header blocks the content when the content is top.

[2017-08-18 19:45] bil-elmoussaoui commented on #186
Duplicate of #179

[2017-08-18 19:45] #186 closed

[2017-08-19 14:47] rielinux commented on #161
Yes please, provide the direct messaging on Ramme.... :)

[2017-08-19 19:55] AdKiller opened #190 "What is the point of this app?"
It just puts the website inside an app and offers no additional features.... like batch downloading your likes for example. what a disappointment.

[2017-08-19 20:13] #190 closed

[2017-08-19 20:14] bil-elmoussaoui commented on #190
If you have any idea create an issue or a PR.

[2017-08-20 19:18] ifvictr opened #191 "Navigation bar is on top instead of side"
I could tell from the demo screenshots in the README that the bar was supposed to be on the left side. However, I got this instead when using Ramme:

![capture](https://user-images.githubusercontent.com/10110245/29497698-88c31c32-85a1-11e7-9af2-f81799cc3a24.PNG)

Also, when on the pre-login screen, it isn't aligned in the center:
![capture](https://user-images.githubusercontent.com/10110245/294977

[2017-08-20 23:52] octacian commented on #191
I'm gonna guess that what happened is the navigation bar you're seeing is just the plain navigation from the Instagram website. The old navigation could have been lost because Instagram updated their website, which would cause the custom CSS used in Ramme to become irrelevant and no longer apply to the navigation.

If this is the case, the most obvious solution would be to simply update the CSS to

[2017-08-20 23:56] terkelg commented on #191
@octacian interested in experimenting with this?

[2017-08-21 00:42] octacian commented on #191
@terkelg Currently trying to get a temporary fix working so that things are usable (including dark mode), as well as reimplementing the scrollbar. At that point, yes, I think I'll do some experimentation. Will probably open a separate issue in regards to this.

[2017-08-21 16:09] CodeBrauer commented on #173
Same on macOS?

[2017-08-22 23:42] fahmifan opened #194 "Layout is overlapping"
![image](https://user-images.githubusercontent.com/19581621/29592420-0b3b14f2-87ce-11e7-9971-269d03c5a002.png)

my laptop is AMD A4, win10 64 bit

[2017-08-23 00:16] octacian commented on #194
This should be fixed by #193

[2017-08-23 01:48] #177 closed

[2017-08-23 07:46] #194 closed

[2017-08-23 20:17] bil-elmoussaoui commented on #191
Fixed on master.

[2017-08-23 20:17] #191 closed

[2017-08-24 06:09] FradSer commented on #182
![2017-08-24 14 09 46](https://user-images.githubusercontent.com/1439628/29651953-dbefb280-88d5-11e7-8993-3bd27cde96d5.png)
Look different, maybe the same issue.

[2017-08-24 06:10] FradSer commented on #182
@bil-elmoussaoui I think it is on macOS, so does mine.

[2017-08-25 02:50] JSNavas opened #195 "Does not scroll when starting the application in 32 bit version?"

[2017-08-26 14:10] axiel7 opened #196 "Can't login with two-step verification"
I can't login to my instagram account if I have the two-step verification enabled. Tried login with facebook too.

[2017-08-26 14:11] #196 closed

[2017-08-28 20:32] onezetty opened #198 "Can not logout"
I can not logout, there is no menu, and if I delete the App, the config account still remains. I using Ubuntu 16.04 Unity.

[2017-08-28 23:40] octacian commented on #198
Are you sure you checked in the right place? Last time I tried, it worked just fine. Just to confirm, the log out button can be found by going to your profile and clicking the "Settings" gear in the top-right corner.

[2017-08-28 23:42] octacian commented on #171
It seems to me as though this was fixed a while ago, it doesn't occur now that I know of. Can this issue be closed?

[2017-08-29 00:00] #171 closed

[2017-08-29 00:00] bil-elmoussaoui commented on #171
Thanks for the help @octacian

[2017-08-29 02:44] octacian commented on #18
I don't think this is an issue anymore, pretty sure I fixed something related to this in my UI improvements PR not long ago. The error alert is a separate problem, so if anyone can confirm that it still occurs, a new issue should be opened for this. Finally, unless the scrolling issue is entirely platform dependent, I can confirm it does not occur on Ubuntu 17.04.

[2017-08-29 02:46] octacian commented on #195
What version of Ramme do you have (if you know) and what operating system are you using?

[2017-08-29 02:56] octacian commented on #176
The dark theme and open in app issues have been fixed; the sidebar has been [temporarily] repositioned to the bottom using the official Instagram styles and will likely remain that way for now anyway. Closing the issue for now (tested on Ubuntu 17.04).

If the problem arises again, it should be reported in a new issue. If the problem hasn't been fixed for you, try the latest master if you are able

[2017-08-29 03:01] octacian commented on #174
This one is slightly harder to reproduce... @StarlordSTRX do you think you could provide a short screen recording or GIF of the issue?

I notice that I can change the phone number on the edit profile page, but I was unaware of the ability to modify this elsewhere.

[2017-08-29 03:04] octacian commented on #173
The issue is present on Linux as well. Quite honestly, I don't think that this can be easily fixed with the current implementation of Ramme. I don't think it's possible to deal with this through Electron alone, most computers do not have a GPS chip in the first place. The only solution as is would be to write a custom location selection widget and somehow format the data so that Instagram will acc

[2017-08-29 04:05] octacian commented on #93
Shouldn't this issue be considered a duplicate and further discussion merged with #84 (as mentioned originally)? The other issue had confirmations of the problem on Linux as well, so theoretically this one *is* a duplicate.

On sidenote, I think I might have a solution, but we'll see later.

[2017-08-29 14:09] monkeyevil commented on #198
I'm having the same issue, settings gear is missing. I'm on 3.2.3
![image](https://user-images.githubusercontent.com/31444241/29825320-111829cc-8ca2-11e7-8c9a-46af7b029f41.png)

[2017-08-29 14:13] onezetty commented on #198
Yep!, no logout menu.

![screenshot_17-08-29_09-12-26](https://user-images.githubusercontent.com/4399989/29825514-4a7ddce6-8c9a-11e7-86f2-b9a6bbed5602.png)

[2017-08-29 14:37] octacian commented on #127
Fixed by #193. The gap was originally for the sidebar, however, at this point, we're just using the default navigation bar at the bottom so it has been removed. Closing this issue for now.

[2017-08-29 14:37] #127 closed

[2017-08-29 15:09] wilnarvaez commented on #198
I have the same problem, I use windows 10.

[2017-08-29 23:23] StarlordSTRX commented on #174
IG probably got suspicious of my login attempts and is forcing me to give phone number to login. I had a hard time actually spotting the page this time (but i've clearly seen it before on ramme as well as on my phone). Verified that this indeed is the issue by logging in with another account and it worked fine.

Hope the gif helps even if it doesn't show much.

![the_problem](https://user-images.g

[2017-08-29 23:44] jsejcksn commented on #165
Maybe [emoji-picker](https://github.com/OneSignal/emoji-picker) will be useful for this? It has a jquery dependency.

[2017-09-04 22:21] dimitrimarinho opened #199 "I can't logout. How can I logout of my Instagram ?"
Anyone helps me ? I didn't find the place that i can press for logout my Instagram.

[2017-09-04 22:24] dimitrimarinho commented on #198
I have the same problem. I'm waiting for the developers fix this problems or help us to solve this.

[2017-09-04 22:40] dimitrimarinho commented on #93
@anatolinicolae I want to collaborate with a project open source for improve my coding skills. Could I learn with this app ? I'm willing to help in this project in any area that I will not disturb.

[2017-09-05 07:53] anatolinicolae commented on #199
Duplicate of #198.

[2017-09-05 07:53] #199 closed

[2017-09-05 08:18] anatolinicolae commented on #93
@dimitrimarinho Feel free to create a branch of the master, start learning and maybe fixing issues. If you fix anything, just create a PR, we'll have a look at it and merge.

[2017-09-05 13:46] ezequielmurga opened #200 "ramme blank screen in linux"
I have a Linux ubuntu 17.04 64 bits, with gnome. I download the latest version (3.2.3), it opens but only shows a blank screen.
![captura de pantalla de 2017-09-05 10-44-54](https://user-images.githubusercontent.com/31659164/30064161-4db65950-9227-11e7-9731-7dcccd9dbc84.png)
# #

[2017-09-05 15:52] anatolinicolae commented on #200
Are you sure about the issue? Have you tried closing and re-opening it againa? :thinking:

[2017-09-05 16:35] ezequielmurga commented on #200
Yes, I also reset the computer, but still the same

[2017-09-06 15:28] LeandroStanger opened #201 "Ramme flatpak?"

[2017-09-06 15:49] anatolinicolae commented on #201
Nice alternative to Snapcraft. We'll definitely have a look at it!

[2017-09-06 15:52] bil-elmoussaoui commented on #201
@anatolinicolae I think the best is to wait until the latest version of electron is shipped so we can build the flatpak package using flathub (the online builder tool of flatpak)

[2017-09-09 19:15] CreativeKoen commented on #182
I'm on windows and I have the same layout. I would love to have the same layout as shown in the readme.
![image](https://user-images.githubusercontent.com/10489237/30243150-e9ae52de-95a3-11e7-96af-2f71bfb730ce.png)

[2017-09-10 11:52] sgnd opened #203 "Add "Back" Button"
Please add a "back" feature, because after clicking a picture or video. can not go back to previous location.

[2017-09-11 17:52] unhammer opened #204 "shows "Open in app" / "app store" links"
![ramme](https://user-images.githubusercontent.com/56868/30288873-834b3524-972a-11e7-8cc3-4255011d8bf7.png)

not the best first impression ;)

[2017-09-11 17:55] unhammer commented on #198
Does
[code]
at least work?

[2017-09-11 17:56] unhammer opened #205 "browse without being logged in?"
It'd be nice if we could look at instathings without signing up (like https://web.stagram.com/ allows)

[2017-09-14 14:42] anatolinicolae commented on #198
Force log out by clicking Logout from the tray icon or from the menu, will be available in the next release :wink:

[2017-09-14 14:42] #198 closed

[2017-09-15 17:01] konstantinkobs commented on #182
This is the layout on my computer (macOS).

![screen shot 2017-09-15 at 18 59 41](https://user-images.githubusercontent.com/4562885/30494373-165ab342-9a48-11e7-8d4b-6c839abe7f21.png)

[2017-09-15 17:02] roccomuso commented on #161
+1 thanks!

[2017-09-22 06:46] SidKwok opened #207 "The menu seems in the wrong position"
![2017-09-22 14 45 51](https://user-images.githubusercontent.com/13268747/30732352-cb3ef842-9f37-11e7-844b-524825b3c817.png)

os: macOS 10.12.6
version: 3.2.3

[2017-09-22 09:06] BeardDesign1 commented on #207
same problem here:
![](http://i.dont.have.a.beard-design.com/VIuCsLZX.png)
os: Windows 10 15063.608
version: 3.2.3

[2017-09-22 14:31] octacian commented on #207
This has already been fixed as of the latest master, just waiting for a new release. If I remember correctly though, a new release hasn't been made as there is some bug remaining that needs to be fixed first :thinking:

[2017-09-23 04:48] terkelg commented on #207
I can't release a new update since the build is broken on mac. Recent commits broke the build. Don't have the time to look into it though. I'm pretty sure it's after you did some changes @octacian, maybe you can have a look into it?

[2017-09-24 14:45] octacian commented on #207
@terkelg Will do my best, but I'm not quite sure as to what the cause is yet as I don't experience the issue on Linux.

[2017-09-26 16:53] monk10101 commented on #203
yes, please add a "back" feature.  or a keyboard shortcut that functions.
thanks.

[2017-09-26 17:13] monk10101 opened #208 "most keyboard shortcuts don't work"
the only shortcut that works is the refresh function. the dark mode only comes dark momentarly.
and no back feature.
running on linux mint 17.3 and ramme 3.2.3

[2017-09-26 23:07] octacian commented on #208
These issues have been fixed in the latest master, but we haven't been able to make a new release yet because there is a bug on macOS that I haven't been able to fix yet.

[2017-09-28 03:54] Vetronus commented on #207
It's even worse in my case
![screen shot 2017-09-28 at 9 23 03 am](https://user-images.githubusercontent.com/24976752/30948610-be3a4aba-a42e-11e7-8222-e27c7964221a.png)

[2017-09-28 14:51] nadszeg opened #209 "Menu glitch"
Hi!
The menu is floating over everything and it makes navigating really hard:
https://imgur.com/a/jQ0Fb

Can you guys fix it?

[2017-09-29 09:56] anatolinicolae commented on #209
Basically a duplicate of #207. See you there!

[2017-09-29 09:56] #209 closed

[2017-09-29 20:22] NabiKAZ commented on #203
can swipe right be like app

[2017-09-29 20:25] NabiKAZ commented on #207
I have same this problem in Windows 10 64-bit

![image](https://user-images.githubusercontent.com/246721/31034584-90998212-a571-11e7-960e-68bb66c73e49.png)

[2017-09-29 22:31] lex111 commented on #203
@anatolinicolae I would like to do, so I need to implement?

[2017-10-01 17:09] ghosh commented on #204
I can give this a go. It should be possible to hide it using css

[2017-10-01 19:19] octacian commented on #204
This has long since been fixed in the latest master, and still is when I checked today. Just waiting for the new release. @terkelg BTW, @anatolinicolae fixed the crash on macOS.

[2017-10-01 19:20] terkelg commented on #204
Awesome, I'll make a release then. Nice job @octacian and @anatolinicolae

[2017-10-01 19:21] octacian commented on #204
@terkelg Before the new release though, I noticed there's an issue with dark mode and IG stories. That still ought to be fixed, can't do it for a few hours though.

[2017-10-02 17:16] anatolinicolae commented on #203
@lex111 basically yes, fetch the repo, implement and create a PR. We'll have a look and merge if it works fine! 😉

[2017-10-02 20:17] jasiralavi opened #210 "Ramme Doesn't Close properly (Ubuntu/Linux)"
I've installed Ramme (ver 3.2.3) on my Ubuntu 16.10.

The application doesn't close properly when I close the window (or even if I close using the menu option Window > Close option). I noticed this when I closed the window while a video with sound was playing. Although the window disappeared, the sound kept looping in background. I had to then kill the 'ramme' process from System Monitor to stop t

[2017-10-03 01:29] octacian commented on #210
39fdb07f5fd72e5798eec0205c01173654266386 and 89bc86807623460049c1faf7c6a653066640fd6e

Will be in next release. Closing issue for now.

[2017-10-03 01:29] #210 closed

[2017-10-03 01:30] octacian commented on #204
@terkelg FYI, everything that needed to be fixed has been now.

[2017-10-03 01:33] octacian commented on #173
Until the underlying issue is solved, I've hidden the `Add Location` button from the New Post window.

747f5a991aedd352d371471230c03cf42e28352a

[2017-10-03 02:54] mrleblanc101 opened #211 "Autoplay video"

[2017-10-03 07:21] anatolinicolae commented on #211
:thinking:

[2017-10-08 04:43] Vetronus opened #213 "Ramme dark mode is not working."
When I click on the **Toggle Dark** mode button in the menu, ramme reloads with the default white skin.

I have uploaded a zip while which contains the video of 7 seconds. It shows exactly what is happening when I am trying to use **Dark Mode** option.

OS : macOS High Sierra
Device : Macbook Air
Ramme Version : 3.2.3
[DarkMode Bug.zip](https://github.com/terkelg/ramme/files/1366627/DarkMode.Bug.z

[2017-10-08 10:58] therishabhpandey commented on #207
Is it being worked on? If not, I'll try it.

[2017-10-08 16:22] octacian commented on #207
This has been temporarily fixed until the rewrite is complete. The fix should be in the next release, which is being delayed for some reason :thinking:

[2017-10-11 19:15] Chathula commented on #200
Can you run  using terminal too see the errorsm?

[2017-10-12 20:29] MichaelGatesDev opened #215 "Build instructions?"
I'm surprised the readme is lacking build instructions for this. I've cloned the repo and tried following the steps [here](https://github.com/terkelg/ramme/issues/97) but end up with [this](https://i.imgur.com/OzqEaI3.jpg) error.

It's looking for the CSS file in `src` instead of in `dist` and I have no idea why.

[2017-10-12 20:32] anatolinicolae commented on #215
Totally fine build. There's an error I guess that you can find by running `yarn test` or `npm run test` 🤔

[2017-10-12 20:37] MichaelGatesDev commented on #215
The tests run well.. I wonder why it's giving me issues. Using the distribution from the 'releases' page of this repository works fine for me..

[2017-10-12 20:39] anatolinicolae commented on #215
Fixed that for you. Give it a pull mate!

[2017-10-12 20:52] MichaelGatesDev commented on #215
Works now! Thank!

[2017-10-12 20:52] #215 closed

[2017-10-13 01:59] NabiKAZ commented on #198
I don't understand for logout from ramme in the win10 and I can not find any `.config` folder.

[2017-10-14 13:09] baimafeima opened #217 "Add an appdata file"
For reference: https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps

[2017-10-15 08:18] azirer opened #218 "Easily switch accounts?"
Feature request: It would be nice to easily switch instagram accounts if you wish without signing out and in.
Great app by the way!

[2017-10-15 17:45] anatolinicolae commented on #218
v4 😉

[2017-10-15 17:46] azirer commented on #218
Thank you!

[2017-10-15 17:58] bil-elmoussaoui commented on #218
The issue shouldn't be closed unless it's resolved.

[2017-10-17 04:09] michaellacastro opened #221 "How can I uninstall this in mac os? There is no way to uninstall it."
I want to remove all the data from it because I cannot log out from it. The UI doesnt have a log out functionality for both the latest release and the previous one before that.

[2017-10-18 22:25] chen8160 opened #224 "Facebook OAuth doesn't Work"
Here is the link I got when trying to login with Facebook:

But it loads up an empty page and I still can't login to the app.

[2017-10-18 22:41] chen8160 commented on #224
I did a little bit research online, looks like facebook dropped support of OAuth v2.2.
[Reference on StackOverflow](https://stackoverflow.com/questions/43061878/facebook-oauth-stopped-working-suddenly)

Maybe it's time to update :)

[2017-10-20 14:40] elektro-NIK commented on #224
Now you can use Chrome dev tools (in mobile view) to post photos.

[2017-10-20 17:54] hansenman61 opened #226 "Mobile"
It is very complicated to understand without a computer mobiles make it difficult sorry

[2017-10-20 18:07] #226 closed

[2017-10-21 02:32] rawr-z opened #227 "Windows Build"
I know for people with Windows 10, you can simply get the instagram app from Windows Store. But for others not on Win10, could we get an updated Windows build?
or some build instructions on a Windows environment?

[2017-10-21 16:55] chen8160 commented on #224
@elektro-NIK What do you mean? Does that somehow relate to OAuth?

[2017-10-21 17:19] elektro-NIK commented on #224
@chen8160 No no. While the authorization is not fixed, instead of Ramme you can use mobile version of the Instagram (in Chrome dev tools) for publishing the photo from PC.

[2017-10-22 07:58] IamMaxim opened #228 "Blurry icons with HiDPI on Linux"
![untitled](https://user-images.githubusercontent.com/10504341/31859700-d5014450-b717-11e7-8875-ce75bf8cf629.png)

 I'm using 1.38 scaling factor and all icons in the app are a bit blurry (it's clearly seen in top navigation bar).

[2017-10-22 08:58] TorosyanV opened #229 "Can't add video"
Can  add only images, but in mobile app available this feature

[2017-10-22 15:42] utkabobr opened #230 "Can't do anything"
Throwing that error:
![image](https://user-images.githubusercontent.com/15288417/31863633-beae5abc-b758-11e7-8305-f34457c9b767.png)

[2017-10-22 21:12] TheSamSmith commented on #175
@Madkita I think that it means its using 100% of the CPU its allocated. I think you'll find that if you close Chrome your CPU usage will decrease significantly and therefore wont look as bad on the graphs. Even with Ramme running your CPU is only on about 47% across the cores.

[2017-10-23 14:07] samnegri commented on #203
Are you guys active? Should I make a PR for this?

[2017-10-25 11:33] Valindo commented on #221
If you are using macOS, then just delete it from the Applications folder?

[2017-10-26 15:47] SammyIsra commented on #203
@samnegri I'm sure a PR would be appreciated!

[2017-10-26 15:55] anatolinicolae commented on #203
@samnegri Yea, you can do it for v3. Will merge even though v4 rewrite already had it planned and implemented.

[2017-11-05 05:54] Jasonthecoder opened #253 "can`t log out on mac pls help"

[2017-11-05 10:04] anatolinicolae commented on #253
#221 #218

[2017-11-05 10:04] #253 closed

[2017-11-19 08:59] fahmifan commented on #207
Hope the fix will release soon

[2017-11-23 21:40] COUPON4Vitamins opened #255 "Can't upload picturess"

[2017-11-23 21:40] COUPON4Vitamins commented on #255
Recently, I can't upload pictures any more.

[2017-11-23 21:41] COUPON4Vitamins commented on #255
System: Ubuntu lts 16.04 64bit

[2017-11-23 22:57] COUPON4Vitamins commented on #255
Just found out why: Description too long.

[2017-11-23 22:57] #255 closed

[2017-11-25 18:46] raniaamina opened #256 "Can't Display Type of Files"
I recently use Ramme 3.2.3-132 in my Debian. When i try to upload an image, i the type file option doesn't appear in pop up window. I don't know how it happen.

![pemilihan_088](https://user-images.githubusercontent.com/22146607/33233627-6fd8bc08-d24b-11e7-99e1-1b33ba4bcdbf.png)

Btw, is Ramme support png file?

Thank you very much. Nice apps :)

[2017-11-30 04:47] TGHepburn opened #257 "Personal Options Icon Missing / Cannot log out using Ramme"
Hi all;

Glad to see this app being developed.  Wanted to let you know that the options icon (top left) in the user settings
![screenshot_2017-11-29-21-26-55 1](https://user-images.githubusercontent.com/23179549/33413459-ddc1d168-d54e-11e7-80d2-537cc91a1873.png)
page is missing.  I am unable to log out of Instagram through Ramme.
![ramme](https://user-images.githubusercontent.com/23179549/33414245

[2017-12-01 19:50] parkcitymedia opened #258 "Unable to detect image files on ubuntu 16.04 LTS"
i actually have more information than <a href="https://github.com/terkelg/ramme/issues/255">issue #255</a>. i wouldn't consider this a duplicate

# issue
i hit the upload button (center [+] in the navbar) which opened up my file manager, navigated to my <b>~/Pictures/Screenshots</b> folder, which has ~10 .png files. Nothing showed up in the folder, and the "files of type:" menu was <i>blank</i>, a

[2017-12-02 09:43] sibaar opened #259 "No image icon"
Seen this problem with other Electron apps as well. Did you set the icon of the BrowserWindow?

![screenshot from 2017-12-02 03-07-21_edited](https://user-images.githubusercontent.com/34181440/33513425-9c79c4fe-d710-11e7-98e3-1c667ed825fd.png)

[2017-12-06 14:15] thebeachtoday opened #260 "Compile for Raspbian"
NOT AN ISSUE PER SE...
I have a Raspberry Pi3; it runs Debian Raspbian.  The Ubuntu builds will not run on it since it's a ARMv8.  I do not see a Debian build to test, and I'm not sure how to compile manually [I'm a novice at compiling source code on Linux].

Any tips to get started on trying to compile the source code for ARMv8 architecture?

[2017-12-12 07:50] AbhishekGangwar13 commented on #198
I can't logout & switch account on Ramme

[2017-12-12 22:33] giovannicaligaris opened #262 "Ubuntu PPA"
Is there a possibility to have a PPA for Ubuntu?

[2017-12-16 06:01] Suleman-Elahi opened #263 "Add DM Functionality"
There is an Instagram DM application for desktop is available (https://github.com/ifedapoolarewaju/igdm). I wonder if that can be integrated into this or add a new feature like that in this desktop app.

[2017-12-17 21:48] therealjoyesh opened #264 "No log in button?"
I'm using the latest version of Ramme on Windows 10 build 16299.125 and I can't seem to find the log in button (there's a log in with Facebook, but my Instagram account isn't linked to Facebook)
![image](https://user-images.githubusercontent.com/22226164/34084151-6ffc02c4-e341-11e7-984c-379dcf2e3c95.png)
If I scale up the window, I see another box but I can't scale it up anymore on my screen after

[2017-12-17 21:51] therealjoyesh commented on #264
using zoom out (ctrl+-) I managed to zoom out and find a log in button, but maybe make this more friendly for smaller screens?
![image](https://user-images.githubusercontent.com/22226164/34084193-3111ac7a-e342-11e7-973c-4b5f31cfe897.png)

[2017-12-17 21:51] #264 closed

[2017-12-18 08:31] as3mbus commented on #213
this problem happen to me too.
OS : Ubuntu 16.04
Ramme Version : 3.2.3

[2017-12-19 13:16] sudo-give-me-coffee commented on #262
With the appimage package, this would not be necessary

At least I think

 x64 version:

https://github.com/terkelg/ramme/releases/download/v3.2.3/Ramme-3.2.3-x86_64.AppImage

[2017-12-19 14:25] giovannicaligaris commented on #262
Does the appimage tells you when there is a new release version?

The benefit of the PPA is that we get automatic updates.

[2017-12-21 12:04] gamaanderson opened #265 "Compilation error"
I'm trying to install compile the latest version on linux (Debian). When I run `yarn install`, all I got is

    yarn install v1.3.2
    [1/4] Resolving packages...
    [2/4] Fetching packages...
    info fsevents@1.1.1: The platform "linux" is incompatible with this module.
    info "fsevents@1.1.1" is an optional dependency and failed compatibility check. Excluding it from installation.
    erro

[2017-12-21 12:12] bil-elmoussaoui commented on #265
You need a newer version of node.

[2017-12-21 12:39] gamaanderson commented on #265
thank you

[2017-12-21 12:39] #265 closed

[2017-12-23 12:26] trappedinspacetime opened #266 "image doesn't fit preload window, scrolled splash"
First of all, thank you for making such an app. It works well on my Ubuntu 16.04 platform.
Splash screen or preload window image size unproportionate, so it scrolls the image to fit the window.

https://ibb.co/h1HAn6

I wonder if it's specific to my platform.
Regards.
Kenn

[2017-12-23 15:51] somoza opened #267 "Cannot login..."
I have not Facebook, only Instagram... And cannot login. It's posible a single login form without facebook?

[2017-12-28 19:15] Foxylizer opened #268 ""A JavaScript error occured in the main process""
### Description

Upon opening Ramme, an error window is opened.

### Steps to Reproduce

Download & Install Ramme.
Open Ramme.
![image](https://user-images.githubusercontent.com/29559592/34420656-62f796d2-ebd0-11e7-9323-695186e5a655.png)

**Expected behavior:** I am able to use Ramme as normal.

**Actual behavior:** Ramme fails to work correctly.

**Reproduces how often:** Every time.

### Version

[2017-12-29 22:33] nickwanninger commented on #267
you need to resize the window to see the login button

[2017-12-29 22:35] nickwanninger opened #269 "Login button obscured by window being too small"
In order to login, the window needs to be slightly larger on startup.

[2018-01-09 12:29] gugadev commented on #263
That's a good idea and relatively easy to implement thorugh [instagram private api package](https://github.com/huttarichard/instagram-private-api). Maybe if I have free time this week do a PR.

[2018-01-09 14:39] ardubit opened #270 "UI issue"
![2018-01-09 16 37 17](https://user-images.githubusercontent.com/6237239/34726021-72b108e4-f55b-11e7-88cf-ecae235dcc64.png)

            UI issue with close icon
            -

            Ramme 3.2.3
            Electron 1.7.2
            darwin x64 16.7.0

[2018-01-10 01:29] telmotrooper opened #271 "All the content of the screen is a bit to the right"
I'm running Ramme 3.2.3-1 from the Arch User Repository and all the content of the screen is a bit to the right.

I took a picture to make it clearer: https://i.imgur.com/XI2j0Fv.png

[2018-01-13 09:02] ghost opened #272 "when will you update this ? Half of a year has passed."
PLZ

[2018-01-14 20:43] Depaulicious commented on #271
Same with the AppImage build.

[2018-01-16 20:17] alvarosamudio opened #273 "add to ramme the function of instagram direct"
this is a client for computer (multiplatform) of instagram direct https://github.com/ifedapoolarewaju/igdm

[2018-01-18 15:56] devnixio commented on #271
Confirmed in .deb build as well.

[2018-01-19 19:10] octacian commented on #271
This has been fixed in the latest master, as the issue has been noted several times, and while there are probably a few more things that need to be fixed again before a new release, that's all that we're waiting for to get this fixed for the public.

[2018-01-24 09:53] swathigrate opened #274 "adjust white space"
hello sir ...

 thanks  for  grate app.....
i'm facing little  bit  problems ......
1. not  able to send  stories ... showing a  message that  "rotate your device to add your story" ...
2. white space ... fix  css or layout
3. not  giving notifications
4. not refreshing posts or feeds
![fetterevcvdf](https://user-images.githubusercontent.com/14991260/35325569-2bf17d24-011a-11e8-99ac-595d478908f1.j

[2018-01-24 18:25] MrScrog commented on #207
same problem here
![image](https://user-images.githubusercontent.com/31424611/35349822-51064afa-013c-11e8-94bb-84b1b8ab0afb.png)

[2018-01-24 21:29] denisinla commented on #272
@Ache1123 new maintainers, they're on it. They're working on this for free so give them some time.

[2018-01-25 06:14] hacker1024 opened #275 "dist/renderer/styles/app.css not found in /opt/Ramme/resources/app.asar"
Built and installed on arch linux.
There is only an SCSS file in the asar.

[code]

[2018-01-25 17:25] lucas-wade commented on #198
still cant logout. i cant see any option to logout in the menu bar? i am on linux running gnome

[2018-01-27 15:34] #168 closed

[2018-01-29 13:14] gozieugo99 opened #276 "i cant log out of ramme"
ive been trying for days now to log out of ramme i just cant please fix this
            -

            Ramme 3.2.3
            Electron 1.7.2
            linux x64 4.13.0-26-generic

[2018-02-03 04:39] 1whatleytay commented on #198
Hehe... Since I was on mac, my config folder was hiding in "~/Library/Application Support/Ramme/"
`rm -rf "~/Library/Application Support/Ramme/"`
The above worked for me.

[2018-02-12 08:41] presianbg commented on #213
Same here - Arch

[2018-02-13 01:31] in-yourdream opened #277 "cannot scroll insta story and cannot hold it for a while"
please fix the insta story scroll because there's only a few insta story that can be view. also when some insta story is in view mode, it's cannot be hold for a while.

[2018-02-14 04:33] jovanzers commented on #274
![image](https://user-images.githubusercontent.com/12684238/36187879-d80ae8fa-117a-11e8-9cec-e316bce8ab4c.png)
me too, same here.. :( please fix

[2018-02-27 03:24] Blast06 opened #278 "cannot go back, it just does not work"
i hit backspace, but it does not work

[2018-02-28 10:36] risc-rus opened #279 "Upload video."
FEATURE REQUEST!

It would be nice if Ramme can **upload** not only photos, but and **video** too.

[2018-02-28 10:47] anatolinicolae commented on #279
#229 is the way. But 🤷‍♂️ since the Web version doesn't implement that and the private API doesn't work properly due to spam increase and bot mitigation measures.

[2018-03-06 17:06] Calinou opened #280 "The application EULA contradicts the license"
The application's EULA (noted below) contradicts the [MIT license](https://github.com/terkelg/ramme/blob/master/LICENSE) the source code is licensed under, which allows [using the software for any purpose](https://www.gnu.org/philosophy/programs-must-not-limit-freedom.en.html) (even though it does not make illegal actions legal; no software license is able to do that).

Would you please consider r

[2018-03-06 18:38] JohnMH commented on #280
To clarify, this project is currently under the Expat license, with an additional non-binding EULA. As it is an implicit contract, and there is no guarantee that end users would ever see this EULA anyway, it's not very useful as it is.

[2018-03-07 05:18] terkelg commented on #280
Removed

[2018-03-07 05:18] #280 closed

[2018-03-07 16:39] wertex opened #281 "Photo is published without a signature (comment)"

[2018-03-07 16:40] anatolinicolae commented on #281
🤷‍♂️ we can't do much on the web version, sorry.

[2018-03-07 16:40] #281 closed

[2018-03-12 15:29] rielinux commented on #276
Hi there...I also had this problems, login & logout buttons are missing event if i make Ramme's windows larger.

Ramme_3.2.3_i386(1).deb
OS Kali Linux 4.13.4-2kali1

Hope you can fix this issues #thankyou

[2018-03-14 11:45] najafie opened #282 "Map discover"
FEATURE REQUEST!

Please provide instagram Map discover in app.Thanks

[2018-03-17 01:18] matheusmcy1 commented on #274
![captura de tela de 2018-03-16 22-17-41](https://user-images.githubusercontent.com/6350505/37550196-f6d3d74c-2967-11e8-8739-f58da2a82342.png)

The same problem.

[2018-03-17 07:18] Reynbow opened #283 "Buttons are at the bottom, not on the side"
As you can see here: https://i.imgur.com/eS4uX1x.png

So it just leaves a massive blank space

[2018-03-17 19:30] Fohlen commented on #98
There is one way or another. Have a look at https://github.com/ifedapoolarewaju/igdm which solved this issue nicely

[2018-03-17 19:41] anatolinicolae commented on #98
@Fohlen they solved that using the Private API, but [we're working on that and have issues with the login as stated here](https://github.com/terkelg/ramme/commit/86d6becd6eed8f1cdccc95f12ffd212eeb63094b). Have you tried that app? Are you able to log in? Help us fix that in the Private API or contribute to the vuetify branch!

[2018-03-17 19:42] Fohlen commented on #98
@anatolinicolae yes I'm running the current state-of-the-art git version and it works nicely. I will have a dig into the `vuetify` branch

[2018-03-18 18:54] pu3antasyah opened #284 "Can't comment, full screen and switch to dark background"
Since last night I can't comment to any IG post with Ramme and make it full screen. Also since I install it, I can't change the background to dark.

Ubuntu 16.04 LTS Unity

[2018-03-22 10:14] #263 closed

[2018-03-23 03:57] pu3antasyah commented on #284
Okay, today it's working again:

1. Can comment

2. Full screen working better than before, it's show UI/EX like official web Instagram. But with Ramme had option to upload!

3. Swtich to dark still never working. It's just dark for few second then flashing go back to light.

[2018-03-23 08:06] anatolinicolae commented on #284
Glad it fixed itself. The thing is this is a wrapper of the web version, so whatever they change we have to adjust here but terkel worked out a "static class-based" theming, so that's why you can't switch to dark...

[2018-03-25 12:04] ardubit opened #285 "There is no Logout link"
-

            Ramme 3.2.3
            Electron 1.7.2
            darwin x64 17.4.0

[2018-03-26 22:23] Kembolle opened #286 "A few suggestions"
Good Morning.

I am using linux mint: `Linux 0v3lh4-n3gr4 4.4.0-112-generic # 135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU / Linux`

## Suggestions:
1. Scrollbar for IG stories list. Image: https://ibb.co/cmVZ77
2. It does not have back buttons after it accesses image object. Image: https://ibb.co/ewUmn7
3. Could replace COMMAND + R Image: https://ibb.co/dYiqEn
4. No chat,

[2018-03-27 19:07] ermazi opened #287 "could ramme support proxy for that chinese cannot visit Instagram directly,"

[2018-03-27 21:18] hoseinzamani opened #288 "Can't pause the stories."
Can't pause the stories in Ramme like we do on instagram app. they Should be paused by holding the click button.

[2018-03-30 22:15] Bitlitas commented on #274
Can't upload daily story too, because of rotate bug :)

[2018-04-07 19:44] franciscorichter commented on #274
same here. OS: Ubuntu Mate.

[2018-04-11 11:44] swapypatil opened #289 "Can't upload multiple photos"

[2018-04-19 00:59] ummasdf commented on #151
This is now happening to me as well on Windows 10 64 bit, Intel i3-2330 with integrated graphics.

https://gyazo.com/1504e7df65bab931ba6ec3921d774e24

[2018-04-21 22:27] setegonz commented on #22
A grid view would be wonderful!

[2018-04-22 00:09] octacian commented on #22
Not sure why this issue was closed before the request was implemented, as it sounds like it is something that could be viable. Reopening.

[2018-04-24 02:32] v0idst4r commented on #287
Ramme already supports this (or other supports applications that'll load proxies)

[2018-04-24 09:03] thisrock commented on #198
just delete and extract last state

[2018-04-24 16:09] Runixuz opened #290 "how to start and run"
How to start.
how to run code

[2018-04-24 16:29] anatolinicolae commented on #290
1. `git clone https://github.com/terkelg/ramme.git`
2. `cd ramme/`
3. `yarn`
4. `yarn start`

[2018-04-26 07:14] #290 closed

[2018-05-02 15:35] mpravinkumar opened #291 "Remove Ramme"
How to remove Ramme from my desktop

[2018-05-02 17:15] octacian commented on #291
What operating system are you using?

[2018-05-02 20:08] mpravinkumar commented on #291
I removed it
Thank You

On Wed, May 2, 2018 at 10:45 PM, Elijah Duffy <notifications@github.com>
wrote:

[2018-05-02 20:18] #291 closed

[2018-05-04 12:54] admkopec opened #292 "High Performance GPU is used on MacBook Pros with dual GPU"
Helper App uses High Performance GPU all the time after displaying uploading box instead of falling back to using Integrated GPU.

[2018-05-05 08:11] dragonta opened #293 "Timeline loading ++"
Good idea? but I find some problems on first seconds of use...

After five posts not load posts in timeline
![image](https://user-images.githubusercontent.com/6455052/39661094-ceb20cde-5054-11e8-8b8c-5c9ca131fe95.png)
Not impossable load multiple photos
Little interface problems
![image](https://user-images.githubusercontent.com/6455052/39661077-a57af132-5054-11e8-96c2-256994bb5855.png)

PS.: Wind

[2018-05-08 10:03] dc0d commented on #198
Fixed yet? (running it using `yarn dev` and just logged out from the page inside. Now the app does not let me logout - `rm -rf ~/.config/Ramme` has no effect. Below is the error that is constantly happening).

[code]

[2018-05-11 20:27] ghost opened #294 "UI have some issues and not that good"
Hi there.
Thank you for developing this app again.
I have downloaded the latest release from github and installed on my Fedora 28 (via .rpm package) now I see some UI problems! In search tab the search bar at top of the window doesn't appear completely and also my toolbar is at bottom of the window while the space for toolbar is also desired at the left side!
Here is
![image](https://user-images.g

[2018-05-14 06:17] LopesX commented on #294
Some here on Windows

[2018-05-15 23:57] Bonsitar commented on #294
Also toggle dark mode don't work correctly, I mean when I press <kbd>Ctrl</kbd> + <kbd> D </kbd> the application trying to set dark theme but after a few seconds it will set light theme again without any error, etc It just keep using light theme!

[2018-05-16 14:42] octacian commented on #294
Here's the thing: Almost every issue here has been fixed in the latest master branch, and the same goes for many of the other layout related issues, some of which will be closed as duplicates, I haven't been able to sort through them for some time. However, there are several more layout issues that must be dealt with before a new release is made, in particular, those regarding the viewing of Insta

[2018-05-16 14:45] octacian commented on #287
This isn't something that needs, in particular, to be supported by Ramme itself, but it is rather something that you should configure in your OS. In fact, every OS that I know of right now supports using a VPN or some other proxy service to redirect traffic for all or specific applications on the computer through the aforementioned proxy.

With this in mind, the feature requested is not something

[2018-05-16 14:45] #287 closed

[2018-05-16 14:45] anatolinicolae commented on #294
Cool! 👏

Throw the commits on the repo, Travis builds and performs tests on your behalf. Once we have it stable on the branch, ping me and I'll create the release.

And again,
thanks @octacian! 🙃

[2018-05-16 17:49] Bonsitar commented on #294
Thank you guys! And one more thing! Why you don't provide a built-in update mechanism or even a flatpak repository and snap repository! Because these packages or built-in update mechanism is easier to update the application instead of downloading each .appimage or deb, rpm package for each release and installing it for new version from GitHub! It's more easier to update it in app or via flarpak or

[2018-05-19 06:30] terkelg commented on #294
High five @anatolinicolae and @octacian 💯

[2018-05-19 19:10] GhitaB commented on #258
The same. It seems .png files can't be uploaded. But it works for .jpg files in my case.

[2018-05-22 21:02] llajournade commented on #200
I have the same error using Fedora 28, and there is error in console :
`[nobod@localhost ~]$ ramme
Gtk-Message: 22:57:19.117: Failed to load module "pk-gtk-module"
Gtk-Message: 22:57:19.117: Failed to load module "canberra-gtk-module"
<memory>:1: Invalid color constant '##d3d3d3'
Gtk-Message: 22:57:19.624: (for origin information, set GTK_DEBUG): failed to retrieve property `ChromeGtkFrame::frame-

[2018-05-22 22:26] octacian commented on #200
Wait, why is Ramme even relying on GTK at all? It's built with Electron after all. Or does Electron depend on GTK? From what I see on Google, it seems that way, although it makes no sense to me. Could you try Ctrl+Shift+I (developer tools), click `Console`, and paste any errors? The latest release might have it disabled... I'm not sure though.

[2018-06-13 12:40] saikumarnowdu opened #295 "rotate"
how to add story

            -

            Ramme 3.2.3
            Electron 1.7.2
            linux x64 4.4.0-128-generic

[2018-06-13 12:43] anatolinicolae commented on #295
You don't. Instagram web doesn't allow that yet, maybe in v4 we'll have them.

[2018-06-13 12:43] #295 closed

[2018-06-14 13:23] aleshh commented on #285
Yeah, how do I log out? Delete configuration files??

[2018-06-14 15:40] martindariocernadas commented on #266
Added my own issue to this : also under Ubuntu 16.04 (Kubuntu) , no splash screen is been loaded at all.
![seleccion_405](https://user-images.githubusercontent.com/26277326/41422783-0c677baa-6fd0-11e8-9bec-10ae0df46e0d.png)

[2018-06-17 00:06] fredcooke commented on #294
@octacian and @anatolinicolae consider doing bleeding edge binaries as you may find higher adoption with all those fixes even if some further stuff is not right/working yet. The bar over the left side makes it quite a pain to use. However I setup an account and uploaded a picture and followed a couple of people with the 3.2.3 deb last night which I could not have done without it as I don't put clo

[2018-06-21 15:43] 32gits opened #296 "Ramme not remembering login info"
After telling the app to save my login info, sometimes when I quit the app and reopen I have to login again.

[2018-06-21 15:46] anatolinicolae commented on #296
Does that happen on the web version too? I think this does happen when you frequently switch networks which leads to you session to be terminated.

[2018-06-21 15:48] 32gits commented on #296
@anatolinicolae Hmm. Could be related to the fact that I'm on a VPN then?

[2018-06-21 15:52] anatolinicolae commented on #296
If you do constantly use the VPN and you don't visit instagram while not on VPN, no. Otherwise yes.

Give it a try on the browser. Log on the site, switch networks, wait some time, switch again, and so on... This behaviour should ask you to login in again... 🤷‍♂️

[2018-06-24 00:47] comtech2011 commented on #296
and also it does not update the feeds

[2018-07-04 20:33] makmm commented on #275
Same problem, with both the .tar.gz and the .pacman. Help?

[2018-07-04 20:55] anatolinicolae commented on #275
After some basic research I think the issue might be of SASS files not getting compiled due a lack of libsass on arch, can anyone confirm you can do that?

[2018-07-04 22:44] makmm commented on #275
@anatolinicolae What do I do, just try to build?

[2018-07-05 00:18] hacker1024 commented on #275
@anatolinicolae The PKGBUILD in the AUR package just downloads the .deb and extracts it. It doesn't compile anything.

[2018-07-05 00:44] hacker1024 commented on #275
@anatolinicolae There's no error anymore, whether I build the app with libsass installed or not. However, in both cases, the sidebar doesn't show up at all, and the only button at the bottom is the upload button. There's no way to access any other pages.

[2018-07-05 00:53] hacker1024 commented on #275
I tried building v3.2.3 - there's still no error either way, but the buttons are at the bottom, and there's space where the sidebar should be.

[2018-07-05 07:19] anatolinicolae commented on #296
Then it's definitely an Instagram issue since we do not set cookie or token expires...

[2018-07-05 12:08] zellerda opened #297 "Google Analytics"
Why the application is tracked on Google Analytics with the account UA-87371303-1
Code in ``ramme/app/src/main/analytics.js``

[2018-07-05 13:00] Caver1 commented on #296
Is it an Instagram Issue? As it seems that only a couple of us has asked about this problem could it be something else?
Possibly an OS update? I'm using Ubuntu 16.04. Just wondering.

[2018-07-05 13:02] anatolinicolae commented on #296
I'm on Mac with Chrome and this has been happening to me lately on the web version 🤷‍♂️

[2018-07-06 08:24] anatolinicolae commented on #275
## Sidebar Missing
Yeah, I removed the sidebar thing in the last release 'cause I didn't have enough time to fix it.

## #275
Regarding the SASS assets, I decompressed myself the pacman package and found the same as reported before. Cannot actually tell where's the problem though. The build script builds assets once, then should package the same compiled assets into destination-specific packages,

[2018-07-07 15:14] fabianosantosnet commented on #294
When I delete a photo posted the app keep tottaly white. I use Manjaro Linux.

[2018-07-07 15:35] terkelg commented on #297
To get stats about installs

[2018-07-07 15:35] #297 closed

[2018-07-09 03:08] bigpoppaken commented on #285
Yeah I definitely want a logout button in the window or something in the tray icon menu (Linux) I have two accounts so I wanna log out and log into the other one. It seems once I'm logged in I'm just logged in.

[2018-07-09 06:57] anatolinicolae commented on #285
Have you tried updating to the latest release and going to your profile, over the cog button to Settings and then Logging out at the bottom?

[2018-07-10 04:53] bigpoppaken commented on #285
I originally installed it through electron. So I uninstalled it and downloaded and installed the .deb from git so its fine now.

[2018-07-10 06:59] #285 closed

[2018-07-10 07:41] anatolinicolae commented on #275
Can you guys try building the app with a little change? Try with `dist/main` instead of `src/main` in [app/package.json](https://github.com/terkelg/ramme/blob/master/app/package.json#L3) and let me know if the final package works fine and loads correctly.

[2018-07-10 09:31] aleshh commented on #275
Just installed 3.2.5 via regular dmg and getting this error on launch (old Mac running Sierra). Everything seems to work fine after I dismiss it tho, so win.

![screen shot 2018-07-10 at 3 18 22 am](https://user-images.githubusercontent.com/4977780/42501749-a172e72c-83f1-11e8-8f15-e17d1d54acd7.png)

[2018-07-21 05:35] namyrb commented on #275
Also getting this same message in ubuntu 14.04:

![ramme_error_1](https://user-images.githubusercontent.com/41500254/43032498-0dcde3e4-8c6d-11e8-833e-5fcfc4e5cfe6.png)

And after I quit out:

![ramme_error_2](https://user-images.githubusercontent.com/41500254/43032503-18a57782-8c6d-11e8-8f32-107fa8383a74.png)

[2018-07-23 16:17] jor1196 opened #300 "Launch it as a Snap package"
Hello, I come to contribute my bit
It would be great if they launched the application as a Snap package to be available in the ubuntu software store and available for several distributions

[2018-07-27 04:43] danielsobrinho commented on #66
Hello, what's up?

[2018-07-29 03:13] SethCalkins opened #301 "A JavaScript error occurred in the main process"
Receiving the following error whenever application is launched.

`Uncaught Exception:
Error: ENOENT, dist/renderer/styles/app.css not found in /Applications/Ramme.app/Contents/Resources/app.asar
    at notFoundError (ELECTRON_ASAR.js:114:19)
    at Object.fs.readFileSync (ELECTRON_ASAR.js:518:9)
    at WebContents.page.on (/Applications/Ramme.app/Contents/Resources/app.asar/src/main/index.js:156:2

[2018-07-29 14:20] MarceloRuiz opened #302 "Uncaught Exception in v3.2.5"
I get an uncaught exception when running Ramme on Ubuntu 18.04 amd64:

[code]

[2018-07-29 14:32] MarceloRuiz commented on #278
I have the same problem

[2018-07-29 23:18] LeandroStanger commented on #201
How is progress for a flapak version going?

[2018-07-31 20:31] traBolic commented on #301
Same on Ubuntu 18
![screenshot from 2018-07-31 23-30-29](https://user-images.githubusercontent.com/5789670/43485408-cdc49760-9519-11e8-8499-0422612f476a.png)

[2018-08-03 00:52] QDesjardin opened #303 "Can't post stories (since you can't rotate screen)"
Title is self-explanatory - clicking on the New Story icon tells you to rotate your screen, but there's no way of doing this yet in Ramme.

[2018-08-03 04:40] QDesjardin opened #304 "Need to also be able to upload files in GIF, MP4 and other formats besides JPG"
You can do that in the official Instagram app, please put that in Ramme~

[2018-08-05 04:09] ardiyant opened #305 "A JavaScript Error On Main Proccess"
![screenshot from 2018-08-05 11-07-46](https://user-images.githubusercontent.com/33899682/43682456-fb7d4da8-989f-11e8-8fe4-fd57a7c86ae0.png)

[2018-08-11 09:13] anatolinicolae commented on #305
It's #275.

[2018-08-11 09:13] #305 closed

[2018-08-11 16:53] bentref commented on #303
I am having this issue too. I'm not seeing much activity in this project, so don't get your hopes up for a fix anytime soon :-/

[2018-08-26 06:55] denis4net commented on #302
The same issue
![image](https://user-images.githubusercontent.com/2119348/44625612-2c281880-a916-11e8-9fd5-b219b4493b2f.png)

[2018-08-29 00:04] ghost opened #306 "Javascript Error on Mac"
When opening Ramme 3.2.5 on mac running Mojave OS 10.14 public beta I get a javascript error pop up...

<img width="668" alt="screen shot 2018-08-29 at 9 58 03 am" src="https://user-images.githubusercontent.com/42789302/44757501-d3a18700-ab72-11e8-9e7e-154426399d2c.png">
Image attached!
            -

            Ramme 3.2.5
            Electron 2.0.3
            darwin x64 18.0.0

[2018-08-30 10:20] thg303 opened #307 "disable "alt + shift" keyboard shortcut"
when the app window is open, simply press "ali + shift" it opens the edit menu. there is no way to get around this shortcut keyboard? usually this shortcut used to switch keyboard layout. so it's so much annoying when writing captions.

            -

            Ramme 3.2.5
            Electron 2.0.3
            linux x64 4.15.0-32-generic

[2018-08-31 23:51] pmunozroa commented on #306
![image](https://user-images.githubusercontent.com/40769812/44939940-9221ff00-ad5f-11e8-9f62-85ccda4272a3.png)
same Error on Linux

[2018-09-05 10:34] GXGOW commented on #306
![screenshot from 2018-09-05 12-34-07](https://user-images.githubusercontent.com/14166923/45087995-0108aa80-b108-11e8-8d60-1f94b2aface0.png)
Same thing here, running Arch Linux.

[2018-09-09 21:52] elcombechris commented on #306
![capture](https://user-images.githubusercontent.com/40341717/45269250-c03ac980-b458-11e8-8f24-4760bc711eb6.PNG)

Same thing, Windows 10 x64.

Note while I see this error on almost every screen I open I was able to login and view pictures.

[2018-09-11 15:56] sorenbug commented on #275
I'm getting the same issue on GalliumOS whether I install the deb using dpkg or build from source using yarn dist.

[2018-09-13 11:38] Vahid-Peivandi opened #308 "switch accounts"
hi
on Ramme 3.2.5 I have multiple accounts but do not save login information but earlier i see switch account  but now do not see and save information
please fix it

[2018-09-13 12:00] anatolinicolae commented on #308
Pretty sure @facebook can do that on Instagram Web.

[2018-09-13 14:31] Vahid-Peivandi commented on #308
can you explain in the simplest way and step by step, please??

[2018-09-14 09:55] elartix commented on #275
OS: Mint 18.3 sylvia
Kernel: x86_64 Linux 4.15.0-29-generic

![image](https://user-images.githubusercontent.com/1899626/45543340-fbecdf00-b81c-11e8-99bb-6861716cd3d8.png)

[2018-09-16 09:32] parzevil commented on #301
Got error too on Ubuntu 18.04:
![errorramme](https://user-images.githubusercontent.com/31453761/45594966-2026f800-b9a4-11e8-8840-22cc4e7c31c3.png)

[2018-09-16 09:35] parzevil commented on #306
Ubuntu 18.04 with amd64.deb:
![errorramme](https://user-images.githubusercontent.com/31453761/45594988-87dd4300-b9a4-11e8-9d46-86a2a803bc7c.png)

[2018-09-16 09:37] parzevil commented on #275
Error at every startup on Ubuntu 18.04 after installing from amd64.deb:
![errorramme](https://user-images.githubusercontent.com/31453761/45595006-e2769f00-b9a4-11e8-9d63-9fcb9b5acf44.png)

[2018-09-18 15:08] jonorozcoc commented on #301
![image](https://user-images.githubusercontent.com/8442497/45697189-d4eb2180-bb2a-11e8-80a3-7630818c968a.png)

The same in Windows 7

[2018-09-24 16:59] #289 closed

[2018-09-25 08:10] arthurdapaz commented on #301
Same...

[2018-09-28 18:23] jhoff909 opened #309 "Javascript error when launching"
When I start the app, I get a pop-up with this error:

A JavaScript error occurred in the main process
Uncaught Exception:
Error: ENOENT, dist/renderer/styles/app.css not found in /opt/Ramme/resources/app.asar
    at notFoundError (ELECTRON_ASAR.js:114:19)
    at Object.fs.readFileSync (ELECTRON_ASAR.js:518:9)
    at WebContents.page.on (/opt/Ramme/resources/app.asar/src/main/index.js:156:23)

[2018-09-29 17:30] #309 closed

[2018-09-29 17:31] bilelmoussaoui commented on #300
We have no interest in supporting Snap packages. Not in the near future anyway.

[2018-09-29 17:31] #300 closed

[2018-10-05 05:55] philliptee commented on #301
What do

[2018-10-05 08:15] RogerBergling commented on #302
Same here, Ubuntu 18.04, java version "1.8.0_181"
![image](https://user-images.githubusercontent.com/32700412/46523942-932adc80-c887-11e8-8d80-fb1b07cea459.png)

[2018-10-08 06:01] sina-mansour commented on #208
I'm running 3.2.5 on Ubuntu 18.04 and the shortcuts aren't working. any news on a fix?

[2018-10-16 12:43] xolonavt commented on #301
Ramme version 3.2.5 Same issue:
Windows 10 1709
java ver 8 update 181 (build 1.8.0_181-b13)
![2018-10-16_15-43-08](https://user-images.githubusercontent.com/44199811/47017153-33231880-d15a-11e8-9379-e3dfc7085f75.png)

[2018-10-20 14:11] Lailah commented on #306
I have exactly the same issue in Fedora 28 KDE Spin  (64-bits).

[2018-10-30 06:50] adrianbrosz opened #311 "Uncaught exception on start and close."
There are two uncaught exceptions, one when starting Ramme:

![zrzut ekranu z 2018-10-30 07-48-13](https://user-images.githubusercontent.com/29169682/47700897-5b118200-dc18-11e8-90d8-5dbad3b60ce8.png)

and one on exit:
![zrzut ekranu z 2018-10-30 07-47-55](https://user-images.githubusercontent.com/29169682/47700908-6b296180-dc18-11e8-85c1-68394351078d.png)

[2018-11-01 12:18] conraid opened #312 "Electron 2.0.3 and glibc 2.28 segfault at startup"
Electron 2.0.3 segfault at startup on linux with glibc 2.28 (I'm using Slackware current).
https://github.com/electron/electron/issues/13972
Please consider using Electron >= 2.0.8 for next realese.

Thanks
Conraid

[2018-11-01 12:28] Lailah commented on #312
Yes, this happens to me too. I have segmentation fault in startup.
I'm using  Fedora 29 KDE Spin.

[2018-11-02 03:07] Krymancer commented on #301
I get this error in version 3.1.5 in Debian 9
![captura de tela de 2018-11-02 00-06-47](https://user-images.githubusercontent.com/17505605/47891733-40ffbb80-de33-11e8-9fdd-319d2abc0164.png)

[2018-11-02 23:30] heyakyra opened #313 "Schedule / queue up posts for later"
One of the most hotly sought after services are post-scheduling apps such as Later, Planable, Buffer, and Hootsuite. Being a free software desktop application, you're in a perfect position to lure many users from those other services!

[2018-11-03 02:17] RaihanStark commented on #301
Same here

[2018-11-03 04:07] ghusto commented on #301
Same here on debian 9

[2018-11-03 04:09] ghusto commented on #301
Same here on debian 9
![2018-11-03 06-07-54](https://user-images.githubusercontent.com/21106479/47947923-024f2b80-df2f-11e8-8398-d0e7b87ccf7e.png)

[2018-11-03 10:48] jouhoff commented on #302
Same here on Win10
node v10.13.0

[2018-11-05 02:59] sergiyshpak opened #314 "does not start on Win"
probably something was changed on server side..

[2018-11-09 23:12] solarkraft commented on #306
Same problem on Elementary OS Loki. Also looks nothing like advertised.
![image](https://user-images.githubusercontent.com/1337470/48292992-29e94b00-e47d-11e8-862b-8673ff07e96e.png)
I guess a glorified web view would be okay if it wasn't so heavy and wouldn't throw tons of errors.

[2018-11-14 14:01] Gaspacchio commented on #311
I confirm this issue, I'm having the same one using Ubuntu with and XFCE desktop environment.

[2018-11-16 09:16] buha opened #316 ""Please wait a few minutes before you try again""
My instagram account got messed up after logging in using ramme.

By logging in in a browser I get this. This is the whole HTML response !
{"message": "Please wait a few minutes before you try again.", "status": "fail"}

The Android app is also messed up and doesn't show anything related to my account.

I suspect ramme did something that triggered some weird (maybe buggy) security feature of insta

[2018-11-16 09:29] #296 closed

[2018-11-16 09:29] anatolinicolae commented on #316
Have you tried #196 or #296?

[2018-11-20 02:11] uhlhosting commented on #306
Uncaught Exception:
Error: ENOENT, dist/renderer/styles/app.css not found in /Applications/Ramme.app/Contents/Resources/app.asar
    at notFoundError (ELECTRON_ASAR.js:114:19)
    at Object.fs.readFileSync (ELECTRON_ASAR.js:518:9)
    at WebContents.page.on (/Applications/Ramme.app/Contents/Resources/app.asar/src/main/index.js:156:23)
    at emitOne (events.js:116:13)
    at WebContents.emit (even

[2018-11-20 13:51] buha commented on #316
#196 can't be the case, I don't have 2 step verif on. #296 neither, my login was saved properly.

My issue got resolved as per the old reddit thread... after some time. Maybe half a day or so.
As it's impossible for me or you to reproduce it, I'm closing this issue.

[2018-11-20 13:51] #316 closed

[2018-11-20 18:48] omortie commented on #301
![screenshot from 2018-11-20 22-17-04](https://user-images.githubusercontent.com/38497452/48795426-1ad28a80-ed12-11e8-9a1e-d5206667f8f6.png)
same here!
is there any solution?

[2018-11-22 00:38] traBolic commented on #311
Duplicate of #301

[2018-11-22 00:42] traBolic commented on #301
Mentioned in #311

[2018-11-26 15:36] reynardh opened #317 "Unable to rotate"

[2018-12-01 05:57] ir1keren commented on #311
I confirm this issue, I'm having the same one using Linux Mint Cinnamon 18.3
![screenshot from 2018-12-01 12-57-06](https://user-images.githubusercontent.com/1435149/49324837-a5b05200-f568-11e8-9b0c-3d9b1b4fb66d.png)

[2018-12-01 13:33] marvinborner commented on #302
Same here on Arch Linux with node v11.3.0

[2018-12-02 17:36] XXN commented on #311
I confirm this issue on Windows too (Seven Ultimate).
http://prntscr.com/lppilw
http://prntscr.com/lpplbc

[2018-12-02 22:39] traBolic commented on #311
Guys, you don't need to add another comment for the same problem. Just use reaction button to add thumb emoji
![image](https://user-images.githubusercontent.com/5789670/49345914-35a2e880-f69c-11e8-85c8-1555ccacd209.png)

[2018-12-02 22:39] traBolic commented on #301
Guys, you don't need to add another comment for the same problem. Just use the reaction button to add thumb emoji
![image](https://user-images.githubusercontent.com/5789670/49345914-35a2e880-f69c-11e8-85c8-1555ccacd209.png)

[2018-12-03 01:14] rizzini commented on #312
Same thing here. Using Ubuntu 18.19 - amd64. Tried the .deb and .tar.gz. Same error.

[2018-12-03 07:44] adrianbrosz commented on #311
The problem is that this project is no longer maintained by anyone ;-)

[2018-12-17 06:35] mpt212 opened #318 "I get error on windows installer"
I get this error when i try to install on windows, Thanks

http://rupload.ir/upload/65bq9hj5jtbwvf1rc0e.png

[2018-12-17 22:49] Boldkeeper commented on #318
Same here.

[2018-12-17 22:56] anatolinicolae commented on #318
#275

[2018-12-17 22:56] #318 closed

[2018-12-29 04:32] agvozdezkiy opened #320 "Segmentation fault (core dumped)"
Ubuntu 18.10: sudo dpkg -i Ramme_3.2.5_amd64.deb
Displays an error "Segmentation fault (core dumped)" when run the app.

Ramme_3.2.3_amd64.deb - don't toggle in dark mode

[2018-12-29 08:42] anatolinicolae commented on #320
#312 and [#204#389351172](https://github.com/terkelg/ramme/issues/294#issuecomment-389351172)

[2018-12-29 08:42] #320 closed

[2019-01-04 19:45] coolrecep commented on #311
Same on Windows:
![image](https://user-images.githubusercontent.com/13221472/50707600-66e34f80-1072-11e9-8bc2-b2bbb54e153a.png)

[2019-01-08 00:42] Hadeeskyu commented on #151
How to clean the config?

[2019-01-10 13:16] gnanet commented on #275
Same here 18.04 amd64.deb of 3.2.5

[2019-01-12 20:26] EngMjari opened #321 "core dumped ramme"
╰─➤  ramme
[1]    15906 segmentation fault (core dumped)  ramme
 what is this Error ?

[2019-01-15 00:02] Majora190 opened #322 "{"message": "Please wait a few minutes before you try again.", "status": "fail"}"
I'm not sure why this problem is occurring, but when I try to open Ramme, I just get this. I would love some help.

[2019-01-17 14:13] marco-fp commented on #321
Having the same issue, Linux (Ubuntu 18)

[2019-01-18 02:14] leandromqrs commented on #201
News for a flatpak version?

[2019-01-23 21:33] hulkpk commented on #321
OLD version works fine

[2019-01-25 17:58] gabomontero89 commented on #275
Same here, ubuntu 18.04 (Ramme_3.2.5_amd64.deb)
![screenshot_2019-01-25_12-56-28](https://user-images.githubusercontent.com/25494196/51763500-c4caec00-20a0-11e9-82d8-bf6c9f94187e.png)

[2019-01-26 04:19] jonorozcoc commented on #311
Duplicate of #301

[2019-01-28 00:47] ZZZXXX0110 opened #323 "Crash upon startup on Ubuntu 18.10"
Crash upon startup on Ubuntu 18.10.

Can be partially fixed and successfully start up by manually change the /opt/Ramme/libnode.so with a newer version as mentioned here: https://github.com/electron/electron/issues/13972#issuecomment-433001316. However, this cause numerous Javascript error messages to pop up after launch.

[2019-01-28 17:43] hulkpk commented on #321
No idea :P

[2019-01-30 15:51] Farioko commented on #322
Please fix this.

[2019-02-05 12:15] slarsar opened #324 "when I exec ./opt/Ramme/ramme. ramme cannont run."
vory@mufasa 20:10:12 /opt/Ramme $ ./ramme

(ramme:1170): Gtk-WARNING **: 20:10:18.424: Theme parsing error: gtk.css:7852:22: Expected '(' after 'url'

(ramme:1170): Gtk-WARNING **: 20:10:18.424: Theme parsing error: gtk.css:7852:147: Invalid character in string. Must be escaped.

(ramme:1170): Gtk-WARNING **: 20:10:18.431: Theme parsing error: gtk.css:11634:3: '/*' in comment block

(ramme:1170):

[2019-02-11 10:19] sabinich commented on #268
yep ;-(

<img width="418" alt="ramme_js-error" src="https://user-images.githubusercontent.com/1430016/52557121-7ac86100-2e29-11e9-95c5-32bb91229d06.PNG">

[2019-02-12 13:28] derdjme commented on #323
Same problem here, too.

[2019-02-19 13:17] carestad commented on #323
Probably the same as #321

[2019-02-19 13:18] carestad commented on #321
Seems to only happen in 3.2.5. 3.2.3 works as far as I can tell

[2019-02-21 19:17] orangecoloured commented on #321
Getting this in mac build
[code]

The app works thought.

[2019-02-24 02:03] NabilDjulfiansyah opened #325 "A JavaScript error occured in the main procces"
Uncaught exception:
Error: ENOENT, dist/renderer/styles/app.css not found in /opt/ramme/
resources/app.asar
  at notFoundError (ELECTRON_ASAR.js:114:19)
  at Object.fs.readFileSync (ELECTRON_ASAR.js:518:9)
  at WebContents.page.on(/opt/ramme/resources/app.asar/src/main/
index.js:156:23
  at emitOne (event.js:116:13)
  at WebContents.emit (events.js:211:7)

[2019-02-27 05:37] yurwpjt opened #326 "Can't upload video"
The title describes everything. There's no even output. I've tried all the ways to get output by the way.

[2019-02-28 02:23] sickofinstagram opened #327 "Ramme problems on Instagram IGTV"
Ramme works on Instagram for photos but it won't let me upload a video to IGTV

[2019-02-28 02:24] sickofinstagram commented on #327
Ramme did work for my first IGTV upload but now, trying to upload another one, there is no response.  Instagram is really annoying.

[2019-03-04 02:55] caraka commented on #325
as reported by OP, on ubuntu 18.04 LTS

[2019-03-09 22:18] eggsywashere commented on #325
It looks like it's an error because of those style files, I've extracted the asar archive which is where the source of Ramme is and I've deleted those lines then archived it again. Here's my  `app.asar`, if you want to get rid of those errors, put this into your `/opt/Ramme/resources/` with sudo (`sudo mv ./app.asar /opt/Ramme/resources/`) and replace the current one (backup it first).

_You can t

[2019-03-10 05:24] antosamalona opened #328 "[1] 8494 segmentation fault ramme"
How to fix this?

[2019-03-12 17:28] tcyrus commented on #325
Encountering issue on Windows 10

[2019-03-14 17:21] Furlann opened #329 "Thanks"
Thanks for this program, is very light, the best. Missing only instagram direct. I am waiting they continuing this good project.

[2019-03-16 17:31] talentlessguy commented on #325
Yeah I have the same problem on Windows 8.1

[2019-03-21 01:24] max-yeah commented on #325
MacOS 12.13.6
Thx! Problem Solved after this step. Could you think about update the file in Release?

[2019-03-26 11:58] ditokp commented on #325
Have this problem too on Linux Lite 4.2

[2019-03-27 20:59] kylemiller3 commented on #325
+1

[2019-03-29 07:44] AliDeym commented on #328
I have the same issue.

OS: Ubuntu 18.04
Kernel: 4.20.7-042007-generic
Ramme: Ramme_3.2.5_amd64.deb
CPU: x86_64

Details:
I just downloaded the latest release, installed it using `sudo dpkg -i` and the app doesn't open from the menu. Tried running the terminal command `ramme` and the result I get is:
`
~$ ramme
Segmentation fault (core dumped)
~$ sudo ramme
Segmentation fault
 `
I never had the ap

[2019-04-01 10:13] WindowsAndLinux commented on #303
Same here

[2019-04-03 15:34] fharper commented on #325
I have this problem on macOS Mojave 10.14.4 with Ramme version 3.2.5.243

[2019-04-06 13:17] thoraxe commented on #328
Same issue with Fedora 29:

[code]

[code]

[2019-04-15 08:00] antosamalona commented on #328
I downloaded previous version. It is working well. Seems it in new version

[2019-04-16 15:30] vanja-san commented on #325
Is it possible to somehow solve this problem without user intervention? Can the update be released!?
![2019-04-16-22-28-05](https://user-images.githubusercontent.com/7201687/56223037-352d4c00-6097-11e9-8d1b-a21f323e3a6a.png)

[2019-04-18 03:18] sreeramp96 commented on #153
![Screenshot (141)](https://user-images.githubusercontent.com/16064120/56334605-9d268400-61b6-11e9-84eb-b031c7218e35.png)
while using cntrl + R it shows this and when i click ok it then refreshes and works fine but everytime i refresh this error comes

[2019-04-19 13:27] fernandex00 opened #330 "Not working on Ubuntu 19.04"
Just updated to ubuntu 19.04, and ramme won't open

[2019-04-25 04:57] MrSiRaX commented on #330
same here

[2019-04-27 05:25] ivogrig commented on #275
Same with ubuntu 16.04 and Ramme_3.2.5_amd64.deb

[2019-05-02 07:43] opasch opened #331 "How to reduce font size"
Hello,
I have pressed "CTRL -" to reduce the character size but then "CTRL +" does not return increase it. How to solve this?

[2019-05-02 08:19] opasch opened #332 "how to completely uninstall"
I have to completely uninstall and re-install ramme becase right now it is having some weird behavior on my desktop (it is completely invisible even though it's running).
After reinstallation the same exact situation happens, this probably means that ramme saves settings somewhere (either in the registry or on the file system). How do I make a complete wipe-out of ramme instance on my machine?

[2019-05-10 21:51] pablorome commented on #303
so there is nobody to fix this?
im still learning javascript can't do it myself yet
is actually usefull to manage my clients ig

[2019-05-10 21:54] pablorome commented on #303
SDFSDF i think i found a hotfix to this issue!
since the program uses chromium to work if you just press ALT you can switch to dev mode then you can click on the device button.
this should work
love

[2019-05-13 18:10] mariarti opened #333 "A JavaScript error occured in the main process"
Ramme_3.2.5_amd64.deb
Ubuntu 18.04 x64 with latests updates
![Screenshot from 2019-05-13 19-43-44](https://user-images.githubusercontent.com/1933140/57643892-17ca9f80-75bb-11e9-8895-e44c19ff3d4d.png)

[2019-05-15 15:15] shashinvision opened #334 "Javascript Error in Arch Linux"
![image](https://user-images.githubusercontent.com/33522282/57787076-bca3c480-7702-11e9-91eb-29224aede339.png)

[2019-05-25 08:20] 1F1R5T commented on #333
same with me

[2019-05-31 16:04] butterchoco commented on #334
I solve this by updating Ramme to the new one. Hope it can help u ! :)

[2019-05-31 21:13] viggou commented on #330
Same problem on Debian 10 buster

[2019-06-03 17:58] probonopd commented on #80
Please reopen. I don't see an AppImage on https://github.com/terkelg/ramme/releases.

[2019-06-04 19:06] abdeelmadjid commented on #275
same problem on windows 10 pro Ramme-Setup-3.2.5.exe  but the app run  normall after closing the dialog
![image](https://user-images.githubusercontent.com/42095844/58906514-f49b9780-8703-11e9-900e-dd32664b6217.png)
![image](https://user-images.githubusercontent.com/42095844/58906576-201e8200-8704-11e9-9638-b815193c679f.png)

[2019-06-21 18:07] diggis00 commented on #333
Same here in windows 10 64-B
![Annotation 2019-06-21 232935](https://user-images.githubusercontent.com/30402460/59942525-8e41a380-947d-11e9-8eda-e447714a7bd5.jpg)
it

[2019-06-25 13:16] MatheusRich commented on #333
Same here with Linux Mint 18.3

[2019-06-25 13:21] MatheusRich opened #335 "Send message with CTRL + Enter"
This is a simple feature request. Are you guys alive? I can send a PR for this

[2019-06-25 15:13] MatheusRich commented on #322
According to [this thread](https://www.reddit.com/r/Instagram/comments/ahjoj9/message_please_wait_a_few_minutes_before_you_try/) this happens when there's too many requests. There's a rate limit of 200 requests/hour (https://developers.facebook.com/docs/instagram-api/overview/).

[2019-06-28 17:38] AndrecioBezerra commented on #302
Here also! Linux Mint 18.3 (Sylvia) node V10.15.3

[2019-07-03 10:58] hmdshariati commented on #330
Segmentation fault (core dumped)

[2019-07-03 20:53] 98ht24 commented on #333
same here in ubuntu 18.04

[2019-07-10 18:32] mrshroomy commented on #334
This problem isn't fixed in ubuntu repositories

[2019-07-12 16:18] efirshik commented on #334
+1, Ramme_3.2.5_amd64. Ubuntu 18.04.2 LTS.
![Screenshot from 2019-07-12 20-16-17](https://user-images.githubusercontent.com/43796942/61142922-f9612180-a4e1-11e9-8aa4-4e3afacc6261.png)

[2019-07-15 03:18] msnjuegos commented on #330
same here on Debian 10 buster

[2019-07-16 17:06] The1st7th commented on #330
same on pop_OS

[2019-07-17 15:21] msebastian100 opened #336 "Java Script error -Windows"
Hello,
I always get this Java error on Windows [See picture]
![2019-07-17_18h11_57](https://user-images.githubusercontent.com/4114151/61387894-a7444580-a8bf-11e9-8be7-c7b3f06383c6.png)

Can you fix that somehow?

greetings

[2019-07-20 19:56] issakomi commented on #336
The same on Linux, that error message appears frequently, but app works

![Screenshot at 2019-07-20 21-54-03](https://user-images.githubusercontent.com/1494580/61583515-3314d680-ab39-11e9-9294-382b82362e14.png)

[2019-07-20 20:36] Vahid-Peivandi opened #337 "direct message"
-hi dear my direct message show 1 has received a message but do not see anything

            Ramme 3.2.5
            Electron 2.0.3
            linux x64 4.4.0-124-generic

[2019-07-25 18:57] Shekhar12121 commented on #330
same problem @asood123

[2019-07-29 06:58] #337 closed

[2019-07-29 14:23] fabianskibr commented on #330
previous relase 3.2.3 its partially working with bugs on kubuntu

[2019-08-01 03:44] wencha opened #338 "Can't login"
When I start Ramme, it shows this error [https://i.postimg.cc/yN6M6shF/rammerr.png](url) (alt host: [https://ibb.co/1Jx9Pg2](url)) and when I verify my account doing the two-step verification it doesn't log me in, it goes back to the main screen. It always does the two step verification, I have to always send the mail and say on another device/browser that "it was me". I'm using Ubuntu 18.04, Ramm

[2019-08-03 07:56] svastian99 commented on #336
I have the same problem .. besides problems with the icon in Cinnamon 4.2.3
https://i.postimg.cc/g28Jdvvk/57.png

greetings

[2019-08-05 17:14] LordMew10 opened #339 "Notifications"
notifications are not showing for Instagram dm and for post notifications

[2019-08-07 17:27] FcoMarcosMAbreu commented on #330
I've just installed Ramme... ¬¬

[2019-08-10 07:40] xianrusso commented on #314
What version of Windows are you running?  It works fine for me on Windows 10

[2019-08-12 19:38] sergiyshpak commented on #314
delete this..

[2019-08-12 20:57] DolleDries commented on #325
Somebady cares to explain what is wrong where and how to fix (rebuild) it?

[2019-08-13 08:10] iman-salmani commented on #328
I have the same problem.

[2019-08-18 06:15] luk0y commented on #306
I am thinking that you have node.js installed on your pc . Uninstall nodejs from your pc and try opening ramme. I hope it solves your issue .

[2019-08-19 15:22] ItsCDubb commented on #330
I've got the same issue, it's not running at all, are there any work arounds for this?

[2019-08-19 15:30] ItsCDubb commented on #330
I've downloaded the 3.2.3 version in appimage format until we can get the new one working

[2019-08-23 18:29] redheet opened #340 "can't open"
can't open on my parrot ?

[2019-08-27 23:28] Jkings777 commented on #308
i wondering, do you don't mind use  Western-Union ? i mean i have to cash
in a person, then send you via recipient, you to get in person near you by
Western union  to get a cash? let me know

On Tue, Aug 27, 2019 at 3:03 PM Marcos Abreu <notifications@github.com>
wrote:

[2019-08-28 15:38] Vahid-Peivandi opened #341 "why can't any activity?"
-

            Ramme 3.2.5
            Electron 2.0.3
![Screenshot at 2019-08-28 20:05:09](https://user-images.githubusercontent.com/25903079/63870604-8c411700-c9cf-11e9-9334-0f14c46f383d.png)

            linux x64 4.4.0-124-generic

[2019-09-07 07:31] arivle commented on #330
@fabianskibr same here. Installed ramme 3.2.5 in kubuntu 19.04, and keep crashing

[2019-09-09 18:07] mexin commented on #330
Same here with Pop_OS 19.04, when trying to run from terminal I get a `Segmentation fault (core dumped)`

[2019-09-13 10:14] PauloBoaventura commented on #333
Centos 7 too

[2019-09-27 19:18] kumudithaperera commented on #329
Instagram Direct is now available

[2019-10-11 09:15] hcw70 commented on #330
Same here with 3.2.5 in Ubuntu 19.04.  Segmentation fault.

[2019-10-17 06:59] risalfajar commented on #330
Same here. Segmentation fault on Pop_OS! 19.04

[2019-10-18 01:52] Youboontoo commented on #340
Have you tried turning your parrot off and back on again? This worked on my parakeet.

[2019-10-18 01:56] Youboontoo commented on #341
This is an issue with your account on Instagram, not with the program.
https://help.instagram.com/

[2019-10-23 22:29] roberthchan commented on #336
Same issue in MacOS 10.14.6

<img width="532" alt="Screen Shot 2019-10-23 at 4 04 47 PM" src="https://user-images.githubusercontent.com/43115025/67439000-ac99e600-f5ba-11e9-8955-b213366fa98e.png">

Thanks!

[2019-10-26 14:45] AmirHosseinKarimi commented on #328
I have the same problem.
Debian 10 amd64

[2019-11-01 14:05] katyasehgal commented on #333
Same

[2019-11-02 23:02] #311 closed

[2019-11-02 23:02] #312 closed

[2019-11-02 23:02] #313 closed

[2019-11-02 23:02] #314 closed

[2019-11-02 23:02] #317 closed

[2019-11-02 23:02] #321 closed

[2019-11-02 23:02] #322 closed

[2019-11-02 23:02] #323 closed

[2019-11-02 23:02] #324 closed

[2019-11-02 23:02] #325 closed

[2019-11-02 23:02] #326 closed

[2019-11-02 23:02] #327 closed

[2019-11-02 23:02] #328 closed

[2019-11-02 23:02] #329 closed

[2019-11-02 23:02] #330 closed

[2019-11-02 23:02] #331 closed

[2019-11-02 23:02] #332 closed

[2019-11-02 23:02] #333 closed

[2019-11-02 23:03] #334 closed

[2019-11-02 23:03] #335 closed

[2019-11-02 23:03] #336 closed

[2019-11-02 23:03] #338 closed

[2019-11-02 23:03] #339 closed

[2019-11-02 23:03] #340 closed

[2019-11-02 23:03] #341 closed

[2019-11-02 23:03] #270 closed

[2019-11-02 23:03] #271 closed

[2019-11-02 23:03] #272 closed

[2019-11-02 23:03] #273 closed

[2019-11-02 23:03] #274 closed

[2019-11-02 23:03] #275 closed

[2019-11-02 23:03] #276 closed

[2019-11-02 23:03] #277 closed

[2019-11-02 23:03] #278 closed

[2019-11-02 23:03] #279 closed

[2019-11-02 23:03] #282 closed

[2019-11-02 23:03] #283 closed

[2019-11-02 23:03] #284 closed

[2019-11-02 23:03] #286 closed

[2019-11-02 23:03] #288 closed

[2019-11-02 23:03] #292 closed

[2019-11-02 23:03] #293 closed

[2019-11-02 23:03] #294 closed

[2019-11-02 23:03] #301 closed

[2019-11-02 23:03] #302 closed

[2019-11-02 23:03] #303 closed

[2019-11-02 23:03] #304 closed

[2019-11-02 23:03] #306 closed

[2019-11-02 23:03] #307 closed

[2019-11-02 23:03] #308 closed

[2019-11-02 23:03] #203 closed

[2019-11-02 23:03] #204 closed

[2019-11-02 23:03] #205 closed

[2019-11-02 23:03] #207 closed

[2019-11-02 23:03] #208 closed

[2019-11-02 23:03] #211 closed

[2019-11-02 23:03] #213 closed

[2019-11-02 23:03] #217 closed

[2019-11-02 23:03] #218 closed

[2019-11-02 23:03] #221 closed

[2019-11-02 23:03] #224 closed

[2019-11-02 23:03] #227 closed

[2019-11-02 23:03] #228 closed

[2019-11-02 23:03] #229 closed

[2019-11-02 23:03] #230 closed

[2019-11-02 23:03] #256 closed

[2019-11-02 23:03] #257 closed

[2019-11-02 23:03] #258 closed

[2019-11-02 23:03] #259 closed

[2019-11-02 23:03] #260 closed

[2019-11-02 23:03] #262 closed

[2019-11-02 23:03] #266 closed

[2019-11-02 23:03] #267 closed

[2019-11-02 23:03] #268 closed

[2019-11-02 23:03] #269 closed

[2019-11-02 23:03] #18 closed

[2019-11-02 23:03] #22 closed

[2019-11-02 23:03] #84 closed

[2019-11-02 23:03] #93 closed

[2019-11-02 23:03] #121 closed

[2019-11-02 23:03] #128 closed

[2019-11-02 23:03] #129 closed

[2019-11-02 23:03] #130 closed

[2019-11-02 23:03] #142 closed

[2019-11-02 23:03] #145 closed

[2019-11-02 23:03] #146 closed

[2019-11-02 23:03] #150 closed

[2019-11-02 23:03] #151 closed

[2019-11-02 23:03] #153 closed

[2019-11-02 23:03] #161 closed

[2019-11-02 23:03] #165 closed

[2019-11-02 23:03] #169 closed

[2019-11-02 23:03] #170 closed

[2019-11-02 23:03] #173 closed

[2019-11-02 23:03] #174 closed

[2019-11-02 23:03] #175 closed

[2019-11-02 23:03] #182 closed

[2019-11-02 23:03] #195 closed

[2019-11-02 23:03] #200 closed

[2019-11-02 23:03] #201 closed